{% set pageTitle = "DfE Frontend" %}
{% set pageDescription = "Using the frontend styles, components, and patterns in DfE services." %}
{% set pageSection = "Design System" %}

{% extends "includes/app-layout.njk" %} 

<div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% block bodyContent %}

{% endblock %}
