{% set accessibility = [
  {
    title: "Accessibility",
    url: "/accessibility/"
  },{
    title: "Accessibility standards",
    url: "/accessibility/standards"
  },{
    title: "Roles and responsibilities",
    url: "/accessibility/roles-and-responsibilities"
  }
] %}

{% set accessibility_wcag = [
  {
    title: "Overview",
    url: "/accessibility/understanding-wcag/"
  }, {
    title: "Perceivable",
    url: "/accessibility/understanding-wcag/perceivable"
  }, {
    title: "Operable",
    url: "/accessibility/understanding-wcag/operable"
  }, {
    title: "Understandable",
    url: "/accessibility/understanding-wcag/understandable"
  }, {
    title: "Robust",
    url: "/accessibility/understanding-wcag/robust"
  }, {
    title: "Draft WCAG 2.2 changes",
    url: "/accessibility/understanding-wcag/draft-2-2"
  }
] %}

{% set accessibility_assurance_top_level = [
   {
    title: "Testing and assurance",
    url: "/accessibility/assurance"
  },{
    title: "Audits",
    url: "/accessibility/audits"
  },{
    title: "Evaluation methodology",
    url: "/accessibility/evaluation-methodology"
  },
  {
    title: "Determine conformance",
    url: "/accessibility/determine-conformance/"
  },{
    title: "Accessibility statements",
    url: "/accessibility/accessibility-statements"
  }
] %}

{% set accessibility_tools = [
  {
    title: "Training",
    url: "/accessibility/training"
  }
] %}

{% set accessibility_assurance = [
   {
    title: "Conformance and evalulation methodology",
    url: "/accessibility/conformance"
  },{
    title: "User testing",
    url: "/accessibility/user-testing"
  }, {
    title: "Continuous integration",
    url: "/accessibility/c-i"
  }, {
    title: "Acceptance criteria",
    url: "/accessibility/acceptance-criteria"
  }
] %}

{% set accessibilityassurance = [ 
{ title: "Discovery", url: "/accessibility/phase/discovery" },
{ title: "Alpha", url: "/accessibility/phase/alpha" },
{ title: "Beta", url: "/accessibility/phase/beta" },
{ title: "LIve", url: "/accessibility/phase/live" },
{ title: "External testing", url: "/accessibility/external-testing" },
  { title: "Acessibility statement", url: "/accessibility/accessibility-statement" }

] %}

{% set communities = [
  {
    title: "Community overview",
    url: "/community/"
  },{
    title: "Meetups",
    url: "/community/meetups/"
  },{
    title: "Show and tells",
    url: "/community/show-and-tells/"
  },{
    title: "Themes",
    url: "/community/themes/"
  }
] %}

{% set professions = [
  {
    title: "Overview",
    url: "/community/professions/"
  }, {
    title: "Content design",
    url: "/community/professions/content-design"
  }
] %}

{% set tl_assurance = [
  {
    title: "Assurance",
    url: "/assurance/"
  },
   {
    title: "Design board",
    url: "/assurance/design-board/"
  },
   {
    title: "Design histories",
    url: "/assurance/design-histories/"
  }
] %}

{% set ds_getting_started = [
  {
    title: "Design",
    url: "/design-system/"
  },
  {
    title: "Branding standards",
    url: "/design-system/branding-standards/"
  },
  {
    title: "DfE branding standards",
    url: "/design-system/branding-standards/dfe-branding"
  }
] %}

{% set ds_design = [
{
    title: "Patterns",
    url: "/design-system/patterns/"
  },
  {
    title: "Propose a component or pattern",
    url: "/design-system/contribute/"
  }
] %}

{% set ds_prototyping = [
  {
    title: "GOV.UK prototype kit",
    url: "/design-system/prototype-kit/"
  },
  {
    title: "GitHub and Heroku",
    url: "/design-system/prototype-kit/github-and-heroku"
  }
] %}

{% set design_ops = [
  {
    title: "Design Ops",
    url: "/design-ops/"
  },
  {
    title: "Vision and objectives",
    url: "/design-ops/vision-and-objectives"
  },
  {
    title: "Services we've built",
    url: "/design-ops/services-weve-built"
  }
] %}

{% set content_guidelines = [
  {
    title: "Content guidelines",
    url: "/content-guidelines/"
  },{
    title: "Language we use",
    url: "/content-guidelines/language-we-use"
  },{
    title: "Joining user journeys between GOV.UK and digital services",
    url: "/content-guidelines/joining-services-to-govuk"
  },{
    title: "Publishing content on GOV.UK",
    url: "/content-guidelines/publishing-content-on-govuk"
  }
] %}

{% set professions = [
  {
    title: "Professions",
    url: "/professions/"
  },{
    title: "Content design",
    url: "/professions/content-design"
  },{
    title: "Interaction design",
    url: "/professions/interaction-design"
  },{
    title: "Service design",
    url: "/professions/service-design"
  }
] %}

{% set design_ops_contact = [
  {
    title: "Contact Design Ops",
    url: "/design-ops/contact"
  }
] %}

{% set patterns = [ 
{ title: "Patterns", url: "/design-system/patterns/" },
  { title: "Select a school", url: "/design-system/patterns/select-a-school" }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "Design" and (subSection != "Styles" and subSection != "Patterns") %}

    <ul class="dfeuk-list app-side-nav__list">
      {% for item in ds_getting_started %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Design System</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in ds_design %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Assurance</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in tl_assurance %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Prototyping</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in ds_prototyping %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if pageSection == "Accessibility" and subSection != "Understanding WCAG"%}
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in accessibility %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Understanding WCAG <span class="dfeuk-u-visually-hidden">navigation</span></h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in accessibility_wcag %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Assurance</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in accessibility_assurance_top_level %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Tools, training and templates</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in accessibility_tools %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if pageSection == "Community" %}
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in communities %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {# <h2 class="app-side-nav__heading">Professions</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in professions %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul> #}

  {% endif %}

  {%- if pageSection == "Content guidelines" %}
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in content_guidelines %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Professions" %}
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in professions %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Design Ops" %}
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in design_ops %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Get in touch</h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in design_ops_contact %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if subSection == "Patterns" %}
    {{ backLink({
      "href": "/design-system",
      "text": "Design system",
      "classes": "app-u-hide-mobile app-side-nav__back dfeuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Patterns <span class="dfeuk-u-visually-hidden">navigation</span></h2>
    <ul class="dfeuk-list app-side-nav__list">
      {% for item in patterns %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>