{% set standards = [
 { title: "Standards", url: "/standards/" },
  { title: "GOV Service Standards", url: "/standards/gov-service-standards" },
  { title: "DfE standards", url: "/standards/dfe-standards" },
  { title: "Branding your service", url: "/standards/branding" }
] %}

{% set ur = [
  { title: "No pages added", url: "/user-research/" }
] %}

{% set contentdesign = [
  { title: "No pages added", url: "/content-design/" }
] %}

{% set servicedesign = [
  { title: "No pages added", url: "/service-design/" }
] %}

{% set ixd = [
  { title: "Interaction design", url: "/interaction-design/" },
  { title: "Being an interaction designer in DfE", url: "/interaction-design/being-an-interaction-designer-in-dfe" },
  { title: "Our design stages", url: "/interaction-design/our-design-stages" },
  { title: "Tools", url: "/interaction-design/tools" },
  { title: "Design documentaion", url: "/interaction-design/design-documentation" },
  { title: "Collaboration across UCD", url: "/interaction-design/collaboration" }
] %}

{% set ixdaccessibility = [   
  { title: "Accessible design", url: "/interaction-design/accessible-design" },
  { title: "Inclusive design", url: "/interaction-design/inclusive-design" }
] %}

{% set ixdassurance = [
  { title: "Design for success", url: "/interaction-design/design-for-success" },    
  { title: "Evidence based design", url: "/interaction-design/evidence-based-design" },
  { title: "Assurance and assessments", url: "/interaction-design/assurance-and-assessments" }
] %}

{% set accessibility = [
  {
    title: "Accessibility",
    url: "/accessibility/"
  }
] %}

{% set accessibilityresources = [
  {
    title: "User research",
    url: "/accessibility/roles/ur"
  }, {
    title: "Service design",
    url: "/accessibility/roles/sd"
  }
] %}

{% set accessibilityassurance = [ 
{ title: "Discovery", url: "/accessibility/phase/discovery" },
{ title: "Alpha", url: "/accessibility/phase/alpha" },
{ title: "Beta", url: "/accessibility/phase/beta" },
{ title: "LIve", url: "/accessibility/phase/live" },
{ title: "External testing", url: "/accessibility/external-testing" },
  { title: "Acessibility statement", url: "/accessibility/accessibility-statement" }

] %}

{% set communities = [
  {
    title: "No pages added",
    url: "/community/"
  }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "Standards" %}
    <h2 class="app-side-nav__heading">Standards</h2>

    <ul class="nhsuk-list app-side-nav__list">
      {% for item in standards %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "User research" %}
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in ur %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Content design" %}
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in contentdesign %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Service design" %}
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in servicedesign %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Interaction design" %}
    <h2 class="app-side-nav__heading">What everyone should know</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in ixd %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">How to apply accessibility in your role</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in ixdaccessibility %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Assuring good design</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in ixdassurance %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Accessibility" %}
    <h2 class="app-side-nav__heading">What everyone needs to know</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in accessibility %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">How to apply accessibility in your role</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in accessibilityresources %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Assuring accessibility is being met</h2>
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in accessibilityassurance %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Community" %}
    <ul class="nhsuk-list app-side-nav__list">
      {% for item in communities %}
        <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}">
          <a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>