{%- from 'header/macro.njk' import header %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'action-link/macro.njk' import actionLink %}
{%- from 'breadcrumb/macro.njk' import breadcrumb %}
{%- from 'contents-list/macro.njk' import contentsList %}
{%- from 'details/macro.njk' import details %}
{%- from 'hero/macro.njk' import hero %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'do-dont-list/macro.njk' import list %}
{%- from 'images/macro.njk' import image %}
{%- from 'inset-text/macro.njk' import insetText %}
{%- from 'pagination/macro.njk' import pagination %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'tables/macro.njk' import table %}
{%- from 'warning-callout/macro.njk' import warningCallout %}
{%- from 'back-link/macro.njk' import backLink %}
{%- from 'button/macro.njk' import button %}
{%- from 'checkboxes/macro.njk' import checkboxes %}
{%- from 'date-input/macro.njk' import dateInput %}
{%- from 'error-message/macro.njk' import errorMessage %}
{%- from 'error-summary/macro.njk' import errorSummary %}
{%- from 'fieldset/macro.njk' import fieldset %}
{%- from 'hint/macro.njk' import hint %}
{%- from 'input/macro.njk' import input %}
{%- from 'label/macro.njk' import label %}
{%- from 'radios/macro.njk' import radios %}
{%- from 'select/macro.njk' import select %}
{%- from 'summary-list/macro.njk' import summaryList %}
{%- from 'textarea/macro.njk' import textarea %}
{%- from 'includes/design-example.njk' import designExample %}
{%- from 'card/macro.njk' import card %}
{% from 'tag/macro.njk' import tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services.{% endif %}"/>
    {%- block extraMeta %}{% endblock %}

    <title>
      {% if pageTitle %}{{ pageTitle }} - DfE User Centered Design{% else %}DfE User Centered Design{% endif %}
    </title>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/govuk-frontend-4.3.1.min.css">
    <script src="/js/main.min.js" defer></script>
    <!-- Cookie consent -->
    <script src="/js/cookies.min.js" data-policy-url="/cookie-policy" defer></script>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="icon" sizes="192x192" href="/assets/govuk-logotype-crown.png">

    <meta property="og:url" content="{{ BASE_URL }}"/>
    <meta property="og:site_name" content="DFE User Centered Design"/>
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - DfE User Centered Design{% else %}DfE User Centered Design{% endif %}"/>
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services.{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:image" content='{% if BASE_URL %}{{ BASE_URL }}{% endif %}/assets/open-graph.png' />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dfe_digital">
    <meta name="twitter:creator" content="@dfe_digital">
    <meta name="twitter:image:alt" content="DfE user centered design">

  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>

    <a class="dfeuk-skip-link" href="#maincontent">Skip to main content</a>

    {% include "includes/_header-prototype.njk" %}

    {% block breadcrumb %}
      {{ breadcrumb({
        href: "/",
        text: "Home",
        classes: "app-breadcrumb"
      }) }}
    {% endblock %}

    {% block outerBody %}{% endblock %}

    {%- if beta %}
      {% include "includes/_beta-banner.njk" %}
    {% endif %}

    {% if pageLayout != "Homepage" %}
      <div class="dfeuk-width-container app-width-container">

      
       
        <main class="dfeuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
         {% block body %}{% endblock %}
        </main>

      </div>

    {% endif %}

    {% include "includes/_footer.njk" %}

    {% block pageScripts %}{% endblock %}

    <script src="/js/govuk-frontend-4.3.1.min.js" defer></script>
    <script>
      window
        .GOVUKFrontend
        .initAll()
    </script>

    
  </body>

</html>