{%- from 'header/macro.njk' import header %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'action-link/macro.njk' import actionLink %}
{%- from 'breadcrumb/macro.njk' import breadcrumb %}
{%- from 'contents-list/macro.njk' import contentsList %}
{%- from 'details/macro.njk' import details %}
{%- from 'hero/macro.njk' import hero %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'do-dont-list/macro.njk' import list %}
{%- from 'images/macro.njk' import image %}
{%- from 'inset-text/macro.njk' import insetText %}
{%- from 'pagination/macro.njk' import pagination %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'tables/macro.njk' import table %}
{%- from 'warning-callout/macro.njk' import warningCallout %}
{%- from 'back-link/macro.njk' import backLink %}
{%- from 'button/macro.njk' import button %}
{%- from 'checkboxes/macro.njk' import checkboxes %}
{%- from 'date-input/macro.njk' import dateInput %}
{%- from 'error-message/macro.njk' import errorMessage %}
{%- from 'error-summary/macro.njk' import errorSummary %}
{%- from 'fieldset/macro.njk' import fieldset %}
{%- from 'hint/macro.njk' import hint %}
{%- from 'input/macro.njk' import input %}
{%- from 'label/macro.njk' import label %}
{%- from 'radios/macro.njk' import radios %}
{%- from 'select/macro.njk' import select %}
{%- from 'summary-list/macro.njk' import summaryList %}
{%- from 'textarea/macro.njk' import textarea %}
{%- from 'includes/design-example.njk' import designExample %}
{%- from 'card/macro.njk' import card %}
{% from 'tag/macro.njk' import tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services.{% endif %}"/>
    {%- block extraMeta %}{% endblock %}

    <title>
      {% if pageTitle %}{{ pageTitle }} - DfE User-centred design{% else %}DfE User-centred design{% endif %}
    </title>

    <meta name="google-site-verification" content="78BmMoejRsC4auIyTs5JLkClgxvWYGDAYMIikFxTNPA"/>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D2V3LRNYBJ"></script>

    <script src="/js/main.min.js" defer></script>
    <!-- Cookie consent -->
    <script src="/js/cookies.min.js" data-policy-url="/cookie-policy" defer></script>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="icon" sizes="192x192" href="/assets/govuk-logotype-crown.png">

    <meta property="og:url" content="{{ BASE_URL }}"/>
    <meta property="og:site_name" content="DFE User Centered Design"/>
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - DfE User Centered Design{% else %}DfE User Centered Design{% endif %}"/>
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services.{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:image" content='{% if BASE_URL %}{{ BASE_URL }}{% endif %}assets/open-graph-new.png'/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dfe_digital">
    <meta name="twitter:creator" content="@dfe_digital">
    <meta name="twitter:image:alt" content="DfE user centered design">

    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=643ee46628582a00194bce0c&product=sop' async='async'></script>

  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>

    <a class="dfeuk-skip-link" href="#maincontent">Skip to main content</a>
    <nav class="dfeuk-topnav" name="Other services navigation">
      <div class="dfeuk-width-container">
        <div class="flex-nav">
          <ul class="flex-left">
            <li>
              <a href="/" class=" active" id="nav-public-and-players">UCD manual</a>
            </li>
            <li>
              <a href="https://user-research.education.gov.uk/" class="" target="_blank" id="">User research manual</a>
            </li>
            <li>
              <a href="https://apply-the-service-standard.education.gov.uk/" class="" target="_blank" id="">
                <span class="govuk-visually-hidden">Visit the </span>Standards manual</a>
            </li>
            <li>
              <a href="https://design-histories.education.gov.uk/" class="" target="_blank" id="">Design histories</a>
            </li>
          </ul>
          <ul class="flex-right">
            <li>
              <a href="javascript.void();" target="_blank" class="feedback-tab">Give us feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="dfe-header" role="banner">

      <div class="dfe-width-container dfe-header__container">

        <div class="dfe-header__logo">
          <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">

            <img src="/assets/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
            <img src="/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">

            <span class="dfe-header__service-name">
            User-centred design manual
          </span>
          </a>
        </div>

        <div class="dfe-header__content" id="content-header">

          <div class="dfe-header__menu">
            <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
          </div>

          <div class="dfe-header__search">
            <button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
              <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="govuk-visually-hidden">Search</span>
            </button>
            <div class="dfe-header__search-wrap" id="wrap-search">
              <form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search">
                <label class="govuk-visually-hidden" for="search-field">Search this website</label>
                <input class="dfe-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
                <button class="dfe-search__submit" type="submit">
                  <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Search</span>
                </button>
                <button class="dfe-search__close" id="close-search">
                  <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Close search</span>
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>

      <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
        <div class="dfe-width-container">
          <p class="dfe-header__navigation-title">
            <span id="label-navigation">Menu</span>
            <button class="dfe-header__navigation-close" id="close-menu">
              <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
              <span class="govuk-visually-hidden">Close menu</span>
            </button>
          </p>
          <ul class="dfe-header__navigation-list">
            <li class="dfe-header__navigation-item {% if pageSection === 'Home'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/">
                      Home
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="dfe-header__navigation-item {% if pageSection === 'Design system'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/design-system">
                      Design system
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="dfe-header__navigation-item {% if pageSection === 'Accessibility'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/accessibility">
                      Accessibility
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="dfe-header__navigation-item {% if pageSection === 'Content guidelines'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/content-guidelines">
                      Content guidelines
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="dfe-header__navigation-item {% if pageSection === 'Professions'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/professions">
                      Professions
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="dfe-header__navigation-item {% if pageSection === 'Design Ops'%}dfe-header__navigation-item--current{% endif %}">
              <a class="dfe-header__navigation-link" href="/design-ops">
                      Design Ops
                      <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% block breadcrumb %}
      {{ breadcrumb({
        href: "/",
        text: "Home",
        classes: "app-breadcrumb"
      }) }}
    {% endblock %}

    {% block outerBody %}{% endblock %}

    {%- if beta %}
      {% include "includes/_beta-banner.njk" %}
    {% endif %}

    {% if pageLayout != "Homepage" %}
      <div class="dfeuk-width-container app-width-container">

        <main class="dfeuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
          {% block body %}{% endblock %}
        </main>

      </div>

    {% endif %}

    {% include "includes/_footer.njk" %}

    {% block pageScripts %}{% endblock %}

    <script src="/js/dfefrontend.js"></script>

    <script src="/js/govuk-frontend-4.3.1.min.js"></script>
    <script>
      window
        .GOVUKFrontend
        .initAll()
    </script>

    <script>
      hljs.highlightAll();
    </script>
  </body>

</html>