@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/dfeuk-frontend/packages/dfefrontend";

// App specific styles
@import "app/app";

// Design examples

@import "design-example/design-example";
/////////////////
// FRONTEND FIXES + UPDATES
/////////////////

// ADDED TO FRONTEND - AWAITING RELEASE
// REMOVE ONCE RELEASED


.app-header__navigation-item__item--current {
  box-shadow: inset 0 -8px 0 $color_dfeuk-secondary-blue !important;
}

.dfeuk-breadcrumb {
  background: $color_dfeuk-grey-4;
}

// Breadcrumb hotfix
// To not have a visited state for back link
.dfeuk-breadcrumb__backlink:visited {
  color: $dfeuk-link-color;
}

// Breadcrumb hotfix
// To not have a visited state for breadcrumb link
.dfeuk-breadcrumb__link:visited {
  color: $color_dfeuk-blue;
}

// Breadcrumb hotfix
// To change color on hover when visited
.dfeuk-breadcrumb__link:hover {
  color: $dfeuk-link-hover-color;
}

// Back link hotfix
// To change color on hover when visited
.dfeuk-back-link__link:hover {
  color: $dfeuk-link-hover-color;
}

// Pagination hotfix for icon colour on focus & hover
.dfeuk-pagination__link:visited:focus .dfeuk-icon {
  fill: $dfeuk-focus-text-color;
}


.dfeuk-u-nested-list {
  margin-bottom: 0;
}

.dfeuk-u-nested-list>li {
  @include dfeuk-responsive-margin(2, "top");
}

// Nowrap hotfix
.dfeuk-u-nowrap {
  white-space: nowrap;
}

// Frontend override
// Should be refactored into the frontend
// The font weight should be 400 by default
.dfeuk-body-m,
.dfeuk-body-s {
  font-weight: 400;
}

// Lede text + lede text
.dfeuk-lede-text+.dfeuk-lede-text {
  margin-top: -dfeuk-spacing(3);
}

h1+.dfeuk-lede-text {
  margin-top: 0;
}

// Table bug hot fix
.dfeuk-table__cell.dfeuk-body-s {
  display: table-cell;
}

// Hotfix menu item icon colour on hover/focus
.dfeuk-header__navigation-link:hover .dfeuk-icon__chevron-right {
  fill: $color_dfeuk-white;
}

.dfeuk-header__navigation-link:focus .dfeuk-icon__chevron-right {
  fill: $dfeuk-focus-text-color;
}

// HEADER + MAIN NAV

// Remove main nav hover background colour on desktop
@include mq($from: large-desktop) {
  .dfeuk-header__navigation-link {
    &:hover {
      background-color: transparent;
    }
  }
}

// Main nav active state
.app-header__navigation-item__item--current {
  @include mq($from: large-desktop) {
    box-shadow: inset 0 -4px 0 $color_dfeuk-grey-4;
  }

  .dfeuk-header__navigation-link {
    font-weight: $dfeuk-font-bold;
  }
}

// Removal of table cell element top and bottom margins
// Remove bottom margin from a <p>
.dfeuk-table__cell {
  @include top-and-bottom;
}

// Header menu button alignment for Safari
.dfeuk-header__menu-toggle {
  @include mq($from: tablet, $until: large-desktop) {
    margin-top: 0;
  }
}

// The 'What's new' box in the home page hero
.app-latest-update {
  padding-bottom: dfeuk-spacing(8);
  padding-top: dfeuk-spacing(8);

  @include mq($until: desktop) {
    padding-bottom: dfeuk-spacing(6);
    padding-top: 0;
  }
}

// Custom style for home page hero card
.app-card--transparent {
  background: transparent;
  border: 2px solid $dfeuk-secondary-border-color;
  color: $color_dfeuk-white;

  a {
    color: $color_dfeuk-white;

    &:hover,
    &:visited {
      color: $color_dfeuk-grey-5;
    }

    &:focus {
      color: $dfeuk-focus-text-color;
    }
  }
}

// Card video

.app-card__video {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Custom style for the home page hero
// Reducing the padding on smaller screens
.app-hero__wrapper {
  @include mq($until: desktop) {
    padding-bottom: dfeuk-spacing(5);
    padding-top: dfeuk-spacing(5);
  }
}

// Page template annotation

.app-annotate-block {
  margin-bottom: dfeuk-spacing(4);
  outline: 2px dashed $color_dfeuk-grey-1;
  padding: dfeuk-spacing(3);
  padding-top: dfeuk-spacing(7);
  position: relative;
}

.app-annotate-block__label {
  border-bottom: 2px dashed $color_dfeuk-grey-1;
  border-right: 2px dashed $color_dfeuk-grey-1;
  left: 0;
  padding: dfeuk-spacing(1) dfeuk-spacing(2);
  position: absolute;
  top: 0;
}

.app-annotate-block+.dfeuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

// Team pictures used for lists

.app-team-pictures-list {
  @include dfeuk-responsive-padding(0, "left");

  img {
    @include dfeuk-responsive-margin(3, "right");

    border: 2px solid transparent;
    border-radius: 30px;
    display: inline-block;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 40px;
  }

  li {
    list-style: none;
  }
}

.dfeuk-header,
.dfeuk-header__navigation,
.dfeuk-hero {
  background-color: #003a69;
}

.dfeuk-card__content {
  padding: 24px !important;
}

.app-width-container,
.dfeuk-width-container,
.app-header__navigation,
.app-width-container,
.app-breadcrumb .dfeuk-width-container {
  max-width: 1200px;
}

.dfeuk-card--feature {
  margin-top: 0px;
}

.dfeuk-hr {
  border-bottom: 10px solid #003a69;
}

.dfeuk-card__heading--feature,
.dfeuk-do-dont-list__label,
.dfeuk-card.dfeuk-card--invert {
  background: #003a69;
}

.dfeuk-card--invert.dfeuk-card--clickable:hover .dfeuk-card__heading a,
.dfeuk-card--invert.dfeuk-card--clickable:hover .dfeuk-card__link,
.dfeuk-card--invert.dfeuk-card--clickable:active .dfeuk-card__heading a,
.dfeuk-card--invert.dfeuk-card--clickable:active .dfeuk-card__link {
  color: $color_dfeuk-white !important;
  text-decoration: none;
}

.call-to-action {
  margin: 2em 0;
  background-color: $color_dfeuk-grey-4;
  padding: 2em;
}

.dfeuk-hero__wrapper a:hover,
.dfeuk-hero__wrapper a {
  color: $color_dfeuk-white !important;
}

.dfeuk-hero__wrapper a:focus,
.dfeuk-hero__wrapper a:active {
  color: $color_dfeuk-black !important;
}

.featured-list--item__content {
  width: 99.99%;
}

.dfeuk-lede-text {
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .dfeuk-inset-text {
    margin-top: 15px;
  }
}



.dfeuk-table__heading-tab {
  background-color: #003a69;
}

.dfeuk-header__logo-img {
  height: 90px !important;
  padding: 0px 15px 0px 0px;
}

.dfeuk-header__service-name {
  margin-left: 20px;
  padding-top: 72px;
  font-weight: 600;
}

@media (max-width: 61.865em) {
  .dfeuk-header__service-name {
    margin-left: 10px;
    padding-top: 0px;
    max-width: 100%;
    font-weight: 600;
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
table,
th,
td,
blockquote,
li,
tr {
  font-family:
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif !important;
}

.govuk-tag+p {
  margin-top: 24px !important;
}



.dfeuk-letters {

  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: -30px;

  >li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 15px;

    >a {
      margin-right: 0px;
      text-decoration: underline;
      font-size: 1rem;
      padding: 10px;
    }
  }
}


.govuk-tag {
  width: max-content;
  display: inline-block !important;
}

.govuk-inset-text {
  max-width: 37em;
}




.dfeuk-border-top--thick {
  border-top: 5px solid $color_dfeuk-blue;
  padding-top: 15px;
}

pre {
  max-width: inherit;
  margin-bottom: 30px;
  padding: 0;
  border: 3px solid rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #f3f2f1;
  font-size: inherit;
}


.hljs {
  max-width: 100%;
}


.dfeuk-header__navigation {
  @include mq($from: mobile, $until: desktop) {
    background-color: $color_dfeuk-white;
  }
}

.app-header__navigation-item__item--current {
  @include mq($from: mobile, $until: desktop) {
    background-color: $color_dfeuk-blue;
    box-shadow: none !important;
  }

  >.dfeuk-header__navigation-link {
    color: $color_dfeuk-white;
  }

}