@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/dfeuk-frontend/packages/dfefrontend";

@import "alpha";
// App specific styles
@import "app/app";


@import "stepbystep/_step-by-step-navigation.scss";
@import "stepbystep/_step-by-step-navigation-header.scss";
@import "stepbystep/_step-by-step-navigation-related.scss";

// Design examples


.dfeuk-o-hero {
  display: flex;
  position: relative;
  max-width: 1600px !important;
  min-height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: var(--pale-grey, #e8edee);
}

@media (min-width:64em) {
  .dfeuk-o-hero {
    min-height: 18rem;
  }
}

.dfeuk-o-hero [class^=dfeuk-t-body],
.dfeuk-o-hero [class^=dfeuk-t-heading] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
}

.dfeuk-o-hero [class^=dfeuk-t-body] {
  -webkit-line-clamp: 5;
}

.dfeuk-o-hero--left-align {
  justify-content: flex-start;
}

.dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
  width: 80%;
  max-width: 80%;
}

@media (min-width:23.4375em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    padding-right: calc((100% - 38.222rem)/2);
    padding-left: calc((100% - 38.222rem)/2);
  }
}

@media (min-width:64em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    padding-right: calc((100% - 52.444rem)/2);
    padding-left: calc((100% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    padding-right: calc((100% - 58.888rem)/2);
    padding-left: calc((100% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    padding-right: calc((100% - 71.111rem)/2);
    padding-left: calc((100% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    padding-right: calc((100% - 83.333rem)/2);
    padding-left: calc((100% - 83.333rem)/2);
  }
}

@media (max-width:23.4275em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width:47.99em) {
  .dfeuk-o-hero--left-align .dfeuk-o-hero__content-container {
    width: 100%;
    max-width: 100%;
  }
}

.dfeuk-o-hero--left-align .dfeuk-a-digiblocks--pos-bl,
.dfeuk-o-hero--left-align .dfeuk-a-digiblocks--pos-tl {
  display: none;
}

.dfeuk-o-hero__content-container {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  grid-row: 1;
}

@media (min-width:48em) {
  .dfeuk-o-hero__content-container {
    max-width: 38.222rem;
  }
}

@media (min-width:98.75em) {
  .dfeuk-o-hero__content-container {
    max-width: 52.444rem;
  }
}

.dfeuk-o-hero__inner-content-container {
  width: 100%;
  padding: 3.3333333333rem 1.666rem;
}

@media (max-width:63.99em) {
  .dfeuk-o-hero__inner-content-container {
    padding: 3.3333333333rem 1.111222rem;
  }
}

.dfeuk-o-hero__iframe-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100%;
  padding-bottom: 56.25%;
}

.dfeuk-o-hero__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dfeuk-o-hero__meta-data {
  display: inline-table;
  margin: 0;
  font-size: .888rem;
  text-align: left;
}

.dfeuk-o-hero__meta-data-item {
  display: table-row;
}

.dfeuk-o-hero__meta-data-item-description,
.dfeuk-o-hero__meta-data-item-title {
  display: table-cell;
  margin: 0;
}

.dfeuk-o-hero__meta-data-item-title {
  padding-right: 1.1111111111rem;
  font-weight: 600;
}

@media (max-width:47.99em) {

  .dfeuk-o-hero__meta-data,
  .dfeuk-o-hero__meta-data-item,
  .dfeuk-o-hero__meta-data-item-description,
  .dfeuk-o-hero__meta-data-item-title {
    display: block;
  }

  .dfeuk-o-hero__meta-data-item {
    padding: .2777777778rem 0;
  }
}

.dfeuk-o-hero .dfeuk-a-digiblocks {
  z-index: 0;
}

.dfeuk-o-hero--light-text .dfeuk-o-hero__content-container [class^=dfeuk-t-body],
.dfeuk-o-hero--light-text .dfeuk-o-hero__content-container [class^=dfeuk-t-heading] {
  color: var(--white, #ffffff);
}

.dfeuk-o-hero--light-text .dfeuk-o-hero__content-container [class^=dfeuk-a-link]:active,
.dfeuk-o-hero--light-text .dfeuk-o-hero__content-container [class^=dfeuk-a-link]:not(:hover):not(:focus) {
  border-bottom: 1px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
}

.dfeuk-o-hero--light-text .dfeuk-o-hero__content-container .dfeuk-a-icon>svg {
  fill: var(--white, #ffffff);
}

.dfeuk-o-hero--image-accented,
.dfeuk-o-hero--image-accented-mirrored {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 50% 50%;
  max-width: 100px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width:63.99em) {

  .dfeuk-o-hero--image-accented,
  .dfeuk-o-hero--image-accented-mirrored {
    grid-template-columns: 100%;
  }
}

.dfeuk-o-hero--image-accented .dfeuk-o-hero__image-container,
.dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__image-container {
  grid-row: 1;
  height: 100%;
}

@media (min-width:64em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__image-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__image-container {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media (max-width:63.99em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__inner-content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__inner-content-container {
    padding: 3.3333333333rem 1.111222rem;
  }
}

@media (max-width:23.4275em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__inner-content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__inner-content-container {
    padding: 1.6666666667rem 1.111222rem;
  }
}

.dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
.dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
  max-width: 100%;
  align-items: flex-start;
  padding: 0;
}

@media (min-width:23.4375em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 38.222rem)/2);
  }
}

@media (min-width:64em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 83.333rem)/2);
  }
}

@media (min-width:64em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 1.1111111111rem 1.6666666667rem;
  }
}

@media (min-width:77.5em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    padding: 3.3333333333rem 5rem;
  }
}

@media (max-width:63.99em) {

  .dfeuk-o-hero--image-accented .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    grid-row: 2;
  }
}

.dfeuk-o-hero--image-accented .dfeuk-a-image,
.dfeuk-o-hero--image-accented .dfeuk-a-image__picture,
.dfeuk-o-hero--image-accented-mirrored .dfeuk-a-image,
.dfeuk-o-hero--image-accented-mirrored .dfeuk-a-image__picture {
  height: 100%;
}

.dfeuk-o-hero--image-accented .dfeuk-a-colour-bar,
.dfeuk-o-hero--image-accented-mirrored .dfeuk-a-colour-bar {
  height: 2.5rem;
}

@media (min-width:85.375em) {

  .dfeuk-o-hero--image-accented .dfeuk-a-colour-bar,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-a-colour-bar {
    height: 4.1666666667rem;
  }
}

@media (min-width:64em)and (max-width:85.365em) {

  .dfeuk-o-hero--image-accented .dfeuk-a-image:not(.dfeuk-a-image--square) .dfeuk-a-image__picture,
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-a-image:not(.dfeuk-a-image--square) .dfeuk-a-image__picture {
    padding-bottom: 68.9922481%;
  }
}

@media (min-width:64em) {
  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__image-container {
    grid-column: 1;
  }

  .dfeuk-o-hero--image-accented-mirrored .dfeuk-o-hero__content-container {
    grid-column: 2;
  }
}

.dfeuk-o-hero--image,
.dfeuk-o-hero--image-mirrored {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dfeuk-o-hero--image .dfeuk-o-hero__content-container,
.dfeuk-o-hero--image .dfeuk-o-hero__image-container,
.dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container,
.dfeuk-o-hero--image-mirrored .dfeuk-o-hero__image-container {
  width: 100%;
  max-width: 100%;
}

@media (min-width:23.4375em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((200% - 38.222rem)/2);
  }
}

@media (min-width:64em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((200% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((200% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((200% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((200% - 83.333rem)/2);
  }
}

@media (min-width:64em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding-right: 0;
  }
}

@media (max-width:23.4275em) {

  .dfeuk-o-hero--image .dfeuk-o-hero__inner-content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__inner-content-container {
    padding: 1.6666666667rem 1.666rem;
  }
}

@media (max-width:63.99em) {

  .dfeuk-o-hero--image,
  .dfeuk-o-hero--image-mirrored {
    grid-template-columns: 100%;
    align-items: center;
  }

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image .dfeuk-o-hero__image-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__image-container {
    width: 100%;
    max-width: 100%;
  }

  .dfeuk-o-hero--image .dfeuk-o-hero__image-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__image-container {
    grid-row: 1;
  }

  .dfeuk-o-hero--image .dfeuk-o-hero__content-container,
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    padding: 0 calc((100% - 38.222rem)/2);
    grid-row: 2;
  }
}

.dfeuk-o-hero--image-mirrored .dfeuk-o-hero__image-container {
  grid-column: 1;
}

.dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
  grid-column: 2;
}

@media (max-width:63.99em) {
  .dfeuk-o-hero--image-mirrored .dfeuk-o-hero__content-container {
    grid-column: 1;
  }
}

.dfeuk-o-hero--background-image {
  padding-bottom: 35vw;
}

@media (min-width:85.375em) {
  .dfeuk-o-hero--background-image {
    padding-bottom: 390px;
  }
}

.dfeuk-o-hero--background-image .dfeuk-o-hero__image-container {
  position: absolute;
  top: calc(100% - 35vw - 90px);
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
  mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
}

@media (min-width:85.375em) {
  .dfeuk-o-hero--background-image .dfeuk-o-hero__image-container {
    top: calc(100% - 495px);
  }
}

.dfeuk-a-colour-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 2.5rem;
  background: #003a69;
}

.dfeuk-a-colour-bar,
.dfeuk-a-colour-bar:after,
.dfeuk-a-colour-bar:before {
  box-sizing: border-box;
}



.dfeuk-a-image,
.dfeuk-a-image__picture {
  display: block;
  position: relative;
  width: 100%;
}

.dfeuk-a-image {
  margin: 0 auto;
}

.dfeuk-a-image,
.dfeuk-a-image:after,
.dfeuk-a-image:before {
  box-sizing: border-box;
}

.dfeuk-a-image__picture {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.dfeuk-a-image__picture img,
.dfeuk-a-image__picture svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.dfeuk-a-image--maintain-ratio {
  height: 100%;
}

.dfeuk-a-image--contain .dfeuk-a-image__picture,
.dfeuk-a-image--cover .dfeuk-a-image__picture,
.dfeuk-a-image--maintain-ratio .dfeuk-a-image__picture {
  height: 100%;
  padding: 0;
}

.dfeuk-a-image--maintain-ratio .dfeuk-a-image__picture img,
.dfeuk-a-image--maintain-ratio .dfeuk-a-image__picture svg {
  position: relative;
  vertical-align: top;
  object-fit: contain;
}

.dfeuk-a-image--contain,
.dfeuk-a-image--cover {
  width: 100%;
  height: 100%;
}

.dfeuk-a-image--contain img,
.dfeuk-a-image--contain svg,
.dfeuk-a-image--cover img,
.dfeuk-a-image--cover svg {
  position: relative;
  object-fit: cover;
}

.dfeuk-a-image--contain .dfeuk-a-image__picture img,
.dfeuk-a-image--contain .dfeuk-a-image__picture svg {
  object-fit: contain;
}

.dfeuk-a-image--position-top img,
.dfeuk-a-image--position-top svg {
  object-position: top center;
}

.dfeuk-a-image--position-left img,
.dfeuk-a-image--position-left svg {
  object-position: center left;
}

.dfeuk-a-image--position-bottom img,
.dfeuk-a-image--position-bottom svg {
  object-position: bottom center;
}

.dfeuk-a-image--position-right img,
.dfeuk-a-image--position-right svg {
  object-position: center right;
}

.dfeuk-a-image--position-top-left img,
.dfeuk-a-image--position-top-left svg {
  object-position: top left;
}

.dfeuk-a-image--position-top-right img,
.dfeuk-a-image--position-top-right svg {
  object-position: top right;
}

.dfeuk-a-image--position-bottom-left img,
.dfeuk-a-image--position-bottom-left svg {
  object-position: bottom left;
}

.dfeuk-a-image--position-bottom-right img,
.dfeuk-a-image--position-bottom-right svg {
  object-position: bottom right;
}

.dfeuk-a-image--4by3 .dfeuk-a-image__picture img,
.dfeuk-a-image--4by3 .dfeuk-a-image__picture svg,
.dfeuk-a-image--square .dfeuk-a-image__picture img,
.dfeuk-a-image--square .dfeuk-a-image__picture svg {
  position: absolute;
}

.dfeuk-a-image--square .dfeuk-a-image__picture {
  padding-bottom: 100%;
}

.dfeuk-a-image--4by3 .dfeuk-a-image__picture {
  padding-bottom: 75%;
}

.dfeuk-a-image--round-corners .dfeuk-a-image__picture {
  border-radius: .333rem;
}

.dfeuk-a-image--round-top-corners .dfeuk-a-image__picture {
  border-radius: .333rem .333rem 0 0;
}

.dfeuk-a-image--no-scale {
  width: auto;
  height: auto;
}

.dfeuk-a-image--no-scale .dfeuk-a-image__picture,
.dfeuk-a-image--no-scale img,
.dfeuk-a-image--no-scale svg {
  width: auto;
  height: auto;
  padding: 0;
}

.dfeuk-a-image--no-scale img,
.dfeuk-a-image--no-scale svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: top;
}

img.dfeuk-a-image,
img.dfeuk-a-image img,
img.dfeuk-a-image svg,
picture.dfeuk-a-image,
picture.dfeuk-a-image img,
picture.dfeuk-a-image svg,
svg.dfeuk-a-image,
svg.dfeuk-a-image img,
svg.dfeuk-a-image svg {
  object-fit: cover;
  margin: 0;
}

img.dfeuk-a-image--no-scale,
picture.dfeuk-a-image--no-scale,
svg.dfeuk-a-image--no-scale {
  width: auto;
  height: auto;
}

img.dfeuk-a-image--position-top,
picture.dfeuk-a-image--position-top,
svg.dfeuk-a-image--position-top {
  object-position: top center;
}

img.dfeuk-a-image--position-left,
picture.dfeuk-a-image--position-left,
svg.dfeuk-a-image--position-left {
  object-position: center left;
}

img.dfeuk-a-image--position-bottom,
picture.dfeuk-a-image--position-bottom,
svg.dfeuk-a-image--position-bottom {
  object-position: bottom center;
}

img.dfeuk-a-image--position-right,
picture.dfeuk-a-image--position-right,
svg.dfeuk-a-image--position-right {
  object-position: center right;
}

img.dfeuk-a-image--position-top-left,
picture.dfeuk-a-image--position-top-left,
svg.dfeuk-a-image--position-top-left {
  object-position: top left;
}

img.dfeuk-a-image--position-top-right,
picture.dfeuk-a-image--position-top-right,
svg.dfeuk-a-image--position-top-right {
  object-position: top right;
}

img.dfeuk-a-image--position-bottom-left,
picture.dfeuk-a-image--position-bottom-left,
svg.dfeuk-a-image--position-bottom-left {
  object-position: bottom left;
}

img.dfeuk-a-image--position-bottom-right,
picture.dfeuk-a-image--position-bottom-right,
svg.dfeuk-a-image--position-bottom-right {
  object-position: bottom right;
}

picture.dfeuk-a-image img,
picture.dfeuk-a-image svg {
  width: 100%;
  height: 100%;
}

picture.dfeuk-a-image--no-scale img,
picture.dfeuk-a-image--no-scale svg {
  width: auto;
  height: auto;
}

.dfeuk-a-link--col-white,
.dfeuk-a-link--col-white:visited {
  border-bottom: 1px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
}

.dfeuk-a-link--col-white:focus,
.dfeuk-a-link--col-white:hover {
  color: var(--black, #231f20);
}

.dfeuk-a-link--col-white:active {
  color: var(--black, #231f20);
}

.dfeuk-a-link--col-black,
.dfeuk-a-link--col-black:visited {
  border-bottom: 1px solid var(--black, #231f20);
  color: var(--black, #231f20);
}

.dfeuk-a-link--col-black:focus,
.dfeuk-a-link--col-black:hover {
  border-bottom: 3px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
  background-color: var(--black, #231f20);
}

.dfeuk-a-link--col-black:active {
  border-bottom: 3px solid transparent;
  color: var(--black, #231f20);
}

.dfeuk-a-link--col-dark-grey,
.dfeuk-a-link--col-dark-grey:visited {
  border-bottom: 1px solid var(--dark-grey, #3f525f);
  color: var(--dark-grey, #3f525f);
}

.dfeuk-a-link--col-dark-grey:focus,
.dfeuk-a-link--col-dark-grey:hover {
  border-bottom: 3px solid var(--black, #231f20);
  color: var(--black, #231f20);
  background-color: var(--yellow, #fae100);
}

.dfeuk-a-link--col-dark-grey:active {
  border-bottom: 3px solid transparent;
  color: var(--black, #231f20);
}

.dfeuk-a-link--col-red,
.dfeuk-a-link--col-red:visited {
  border-bottom: 1px solid var(--accessible-red, #b30f0f);
  color: var(--accessible-red, #b30f0f);
}



.dfeuk-a-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 15.55rem;
  margin-bottom: 1.78rem;
  padding: .5555555556rem 1.1111111111rem;
  border: 2px solid $color_dfeuk-blue;
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 0 .167rem transparent;
  font-size: .78rem;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  text-decoration: none;
  vertical-align: text-bottom;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  transition-property: background-color, box-shadow, border-color;
  transition-duration: .15s;
}

.dfeuk-a-button,
.dfeuk-a-button:after,
.dfeuk-a-button:before {
  box-sizing: border-box;
}

.dfeuk-a-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
}

.dfeuk-a-button__label {
  min-height: 1.1111111111rem;
  padding-top: 1px;
  overflow: hidden;
  line-height: calc(1.1111111111rem - 1px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dfeuk-a-button .dfeuk-a-icon,
.dfeuk-a-button__label {
  vertical-align: text-bottom;
}

.dfeuk-a-button--circle {
  padding: .5555555556rem;
}

.dfeuk-a-button--circle-condensed {
  padding: .2777777778rem;
}

.dfeuk-a-button__label+.dfeuk-a-icon,
.dfeuk-a-icon+.dfeuk-a-button__label {
  margin-left: .5555555556rem;
}

.dfeuk-a-button--active,
.dfeuk-a-button:focus,
.dfeuk-a-button:hover {
  box-shadow: 0 0 0 .167rem var(--yellow, #fae100);
}

.dfeuk-a-button:active {
  transition-property: none;
  transform: translateY(.111rem);
  box-shadow: 0 0 0 .167rem transparent;
}

.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(.dfeuk-a-button--transparent),
.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):visited:not(.dfeuk-a-button--transparent) {
  color: var(--white, #ffffff);
  background: $color_dfeuk-blue;
}

.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):active {
  background: $color_dfeuk-blue;
  box-shadow: 0 0 0 .167rem transparent;
}

.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(:disabled):not(.dfeuk-a-button--disabled):focus,
.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(:disabled):not(.dfeuk-a-button--disabled):hover {
  background: $color_dfeuk-secondary-blue;
  background: $color_dfeuk-secondary-blue;
}

.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(:disabled):not(.dfeuk-a-button--disabled):focus .dfeuk-a-icon>svg,
.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(:disabled):not(.dfeuk-a-button--disabled):hover .dfeuk-a-icon>svg,
.dfeuk-o-dropdown__dropdown ul li a:not(.dfeuk-a-link):focus svg,
.dfeuk-o-dropdown__dropdown ul li a:not(.dfeuk-a-link):hover svg,
.dfeuk-o-dropdown__dropdown ul li button:not(.dfeuk-a-button):focus svg,
.dfeuk-o-dropdown__dropdown ul li button:not(.dfeuk-a-button):hover svg {
  fill: var(--white, #ffffff);
}

.dfeuk-a-button:not(.dfeuk-a-button--invert):not(.dfeuk-a-button--outline):not(.dfeuk-a-button--start):not(.dfeuk-a-button--cancel):not(.dfeuk-a-button--disabled):not(:disabled):not(:disabled):not(.dfeuk-a-button--disabled):active {
  background: $color_dfeuk-secondary-blue;
  background: $color_dfeuk-secondary-blue;
  transition-property: none;
}

.dfeuk-a-button--disabled,
.dfeuk-a-button--disabled:active,
.dfeuk-a-button--disabled:focus,
.dfeuk-a-button--disabled:hover,
.dfeuk-a-button:disabled,
.dfeuk-a-button:disabled:active,
.dfeuk-a-button:disabled:focus,
.dfeuk-a-button:disabled:hover {
  border-color: var(--mid-grey-20-tint, #d5dade);
  color: var(--dark-grey, #3f525f);
  background: var(--mid-grey-20-tint, #d5dade);
  box-shadow: none;
  cursor: not-allowed;
}

.dfeuk-a-button--disabled .dfeuk-a-icon>svg,
.dfeuk-a-button--disabled:active .dfeuk-a-icon>svg,
.dfeuk-a-button--disabled:focus .dfeuk-a-icon>svg,
.dfeuk-a-button--disabled:hover .dfeuk-a-icon>svg,
.dfeuk-a-button:disabled .dfeuk-a-icon>svg,
.dfeuk-a-button:disabled:active .dfeuk-a-icon>svg,
.dfeuk-a-button:disabled:focus .dfeuk-a-icon>svg,
.dfeuk-a-button:disabled:hover .dfeuk-a-icon>svg {
  fill: var(--dark-grey, #3f525f);
}

.dfeuk-a-button--start {
  border-color: var(--dark-green, #006646);
  color: var(--white, #ffffff);
  background: var(--dark-green, #006646);
}

.dfeuk-a-button--cancel {
  border-color: var(--accessible-red, #b30f0f);
  color: var(--white, #ffffff);
  background: var(--accessible-red, #b30f0f);
}

.dfeuk-a-button--invert {
  border-color: var(--white, #ffffff);
}

.dfeuk-a-button--invert .dfeuk-a-icon>svg,
.dfeuk-a-button--outline .dfeuk-a-icon>svg {
  fill: var(--blue, #005bbb);
  ;
}

.dfeuk-a-button--invert,
.dfeuk-a-button--outline {
  color: var(--blue, #005bbb);
  background: var(--white, #ffffff);
}

.dfeuk-a-button--outline:active {
  border-color: var(--blue, #005bbb);
  box-shadow: 0 0 0 .167rem transparent;
}

.dfeuk-a-button--outline:not(:disabled):not(.dfeuk-a-button--disabled):focus,
.dfeuk-a-button--outline:not(:disabled):not(.dfeuk-a-button--disabled):hover {
  border-color: var(--black, #231f20);
}

.dfeuk-a-button--outline:not(:disabled):not(.dfeuk-a-button--disabled):active {
  border-color: var(--blue, #005bbb);
}

@media (max-width:63.99em) {
  .dfeuk-a-button--responsive {
    width: 100%;
  }
}

.dfeuk-a-button--transparent {
  border: 1px solid transparent;
  background: 0 0;
}

.dfeuk-a-button--transparent .dfeuk-a-icon>svg {
  fill: var(--black, #231f20);
}

input[type=reset].dfeuk-a-button,
input[type=submit].dfeuk-a-button {
  display: inline-block;
  min-height: calc(2.5rem - .69px);
}


.dfeuk-o-banner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-height: 10rem;
  margin: 0 auto;
}

.dfeuk-o-banner--mirrored {
  flex-direction: row-reverse;
}

.dfeuk-o-banner [class^=dfeuk-t-body],
.dfeuk-o-banner [class^=dfeuk-t-heading] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
}

x .dfeuk-o-banner [class^=dfeuk-t-body] {
  -webkit-line-clamp: 5;
}

.dfeuk-o-banner__content-container,
.dfeuk-o-banner__image-container {
  width: 50%;
}

.dfeuk-o-banner__content-container {
  display: flex;
  padding: 5rem;
  align-items: center;
}

.dfeuk-o-banner__inner-content-container {
  width: 100%;
}

.dfeuk-o-banner__inner-content-container .dfeuk-a-button {
  max-width: 100%;
}

@media (max-width:63.99em) {
  .dfeuk-o-banner {
    width: 91.6666666667%;
    flex-direction: column-reverse;
  }

  .dfeuk-o-banner__content-container,
  .dfeuk-o-banner__image-container {
    width: 100%;
  }

  .dfeuk-o-banner__content-container {
    padding: 3.3333333333rem 1.6666666667rem;
  }

  .dfeuk-o-banner .dfeuk-a-image {
    overflow: hidden;
    border-top-left-radius: .333rem;
    border-top-right-radius: .333rem;
  }

  .dfeuk-o-banner .dfeuk-a-image img {
    position: relative;
  }
}

.dfeuk-light-blue-tint {
  background: #d6e5ee
}

@import "design-example/design-example";
/////////////////
// FRONTEND FIXES + UPDATES
/////////////////

// ADDED TO FRONTEND - AWAITING RELEASE
// REMOVE ONCE RELEASED


.app-header__navigation-item__item--current {
  box-shadow: inset 0 -8px 0 $color_dfeuk-secondary-blue !important;
}

.dfeuk-breadcrumb {
  background: $color_dfeuk-grey-4;
}

// Breadcrumb hotfix
// To not have a visited state for back link
.dfeuk-breadcrumb__backlink:visited {
  color: $dfeuk-link-color;
}

// Breadcrumb hotfix
// To not have a visited state for breadcrumb link
.dfeuk-breadcrumb__link:visited {
  color: $color_dfeuk-blue;
}

// Breadcrumb hotfix
// To change color on hover when visited
.dfeuk-breadcrumb__link:hover {
  color: $dfeuk-link-hover-color;
}

// Back link hotfix
// To change color on hover when visited
.dfeuk-back-link__link:hover {
  color: $dfeuk-link-hover-color;
}

// Pagination hotfix for icon colour on focus & hover
.dfeuk-pagination__link:visited:focus .dfeuk-icon {
  fill: $dfeuk-focus-text-color;
}


.dfeuk-u-nested-list {
  margin-bottom: 0;
}

.dfeuk-u-nested-list>li {
  @include dfeuk-responsive-margin(2, "top");
}

// Nowrap hotfix
.dfeuk-u-nowrap {
  white-space: nowrap;
}

// Frontend override
// Should be refactored into the frontend
// The font weight should be 400 by default
.dfeuk-body-m,
.dfeuk-body-s {
  font-weight: 400;
}

// Lede text + lede text
.dfeuk-lede-text+.dfeuk-lede-text {
  margin-top: -dfeuk-spacing(3);
}

h1+.dfeuk-lede-text {
  margin-top: 0;
}

// Table bug hot fix
.dfeuk-table__cell.dfeuk-body-s {
  display: table-cell;
}

// Hotfix menu item icon colour on hover/focus
.dfeuk-header__navigation-link:hover .dfeuk-icon__chevron-right {
  fill: $color_dfeuk-white;
}

.dfeuk-header__navigation-link:focus .dfeuk-icon__chevron-right {
  fill: $dfeuk-focus-text-color;
}



// HEADER + MAIN NAV


// Remove main nav hover background colour on desktop
@include mq($from: large-desktop) {
  .dfeuk-header__navigation-link {
    &:hover {
      background-color: transparent;
    }
  }

  .dfeuk-header__navigation-list {

    justify-content: flex-start
  }
}

// Main nav active state
.app-header__navigation-item__item--current {
  @include mq($from: large-desktop) {
    box-shadow: inset 0 -4px 0 $color_dfeuk-grey-4;
  }

  .dfeuk-header__navigation-link {
    font-weight: $dfeuk-font-bold;
  }
}

// Removal of table cell element top and bottom margins
// Remove bottom margin from a <p>
.dfeuk-table__cell {
  @include top-and-bottom;
}

// Header menu button alignment for Safari
.dfeuk-header__menu-toggle {
  @include mq($from: tablet, $until: large-desktop) {
    margin-top: 0;
  }
}

// The 'What's new' box in the home page hero
.app-latest-update {
  padding-bottom: dfeuk-spacing(8);
  padding-top: dfeuk-spacing(8);

  @include mq($until: desktop) {
    padding-bottom: dfeuk-spacing(6);
    padding-top: 0;
  }
}

@include mq($from: mobile) {
  .dfeuk-header__navigation-link {
    color: $color_dfeuk-blue !important;
  }
}


.dfeuk-header__navigation-link {
  @include mq($from: tablet) {

    color: #ffffff !important;
  }
}

.app-header__navigation-item__item--current>.dfeuk-header__navigation-link {
  color: $color_dfeuk-white !important;
}

// Custom style for home page hero card
.app-card--transparent {
  background: transparent;
  border: 2px solid $dfeuk-secondary-border-color;
  color: $color_dfeuk-white;

  a {
    color: $color_dfeuk-white;

    &:hover,
    &:visited {
      color: $color_dfeuk-grey-5;
    }

    &:focus {
      color: $dfeuk-focus-text-color;
    }
  }
}

// Card video

.app-card__video {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Custom style for the home page hero
// Reducing the padding on smaller screens
.app-hero__wrapper {
  @include mq($until: desktop) {
    padding-bottom: dfeuk-spacing(5);
    padding-top: dfeuk-spacing(5);
  }
}

// Page template annotation

.app-annotate-block {
  margin-bottom: dfeuk-spacing(4);
  outline: 2px dashed $color_dfeuk-grey-1;
  padding: dfeuk-spacing(3);
  padding-top: dfeuk-spacing(7);
  position: relative;
}

.app-annotate-block__label {
  border-bottom: 2px dashed $color_dfeuk-grey-1;
  border-right: 2px dashed $color_dfeuk-grey-1;
  left: 0;
  padding: dfeuk-spacing(1) dfeuk-spacing(2);
  position: absolute;
  top: 0;
}

.app-annotate-block+.dfeuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

// Team pictures used for lists

.app-team-pictures-list {
  @include dfeuk-responsive-padding(0, "left");

  img {
    @include dfeuk-responsive-margin(3, "right");

    border: 2px solid transparent;
    border-radius: 30px;
    display: inline-block;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 40px;
  }

  li {
    list-style: none;
  }
}

.dfeuk-header,
.dfeuk-header__navigation,
.dfeuk-hero {
  background-color: #003a69;

}

.dfeuk-hero--split {
  background-color: #b3c4d2 !important;

  h1 {
    line-height: initial;
  }

  h1,
  p {
    color: #003a69 !important;
  }
}


.dfeuk-card__content {
  padding: 24px !important;
}

.app-width-container,
.dfeuk-width-container,
.app-header__navigation,
.app-width-container,
.app-breadcrumb .dfeuk-width-container {
  max-width: 1200px;
}

.dfeuk-card--feature {
  margin-top: 0px;
}

.dfeuk-hr {
  border-bottom: 10px solid #003a69;
}

.dfeuk-card__heading--feature,
.dfeuk-do-dont-list__label,
.dfeuk-card.dfeuk-card--invert {
  background: #003a69;
}

.dfeuk-card--invert.dfeuk-card--clickable:hover .dfeuk-card__heading a,
.dfeuk-card--invert.dfeuk-card--clickable:hover .dfeuk-card__link,
.dfeuk-card--invert.dfeuk-card--clickable:active .dfeuk-card__heading a,
.dfeuk-card--invert.dfeuk-card--clickable:active .dfeuk-card__link {
  color: $color_dfeuk-white !important;
  text-decoration: none;
}

.call-to-action {
  margin: 2em 0;
  background-color: $color_dfeuk-grey-4;
  padding: 2em;
}

.dfeuk-hero__wrapper a:hover,
.dfeuk-hero__wrapper a {
  color: $color_dfeuk-white !important;
}

.dfeuk-hero__wrapper a:focus,
.dfeuk-hero__wrapper a:active {
  color: $color_dfeuk-black !important;
}

.featured-list--item__content {
  width: 99.99%;
}

.dfeuk-lede-text {
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .dfeuk-inset-text {
    margin-top: 15px;
  }
}



.dfeuk-table__heading-tab {
  background-color: #003a69;
}

.dfeuk-header__logo-img {
  height: 90px !important;
  padding: 0px 15px 0px 0px;
}

.dfeuk-header__service-name {
  margin-left: 20px;
  padding-top: 72px;
  font-weight: 600;
}

@media (max-width: 61.865em) {
  .dfeuk-header__service-name {
    margin-left: 10px;
    padding-top: 0px;
    max-width: 100%;
    font-weight: 600;
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
table,
th,
td,
blockquote,
li,
tr {
  font-family:
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif !important;
}

.govuk-tag+p {
  margin-top: 24px !important;
}



.dfeuk-letters {

  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: -30px;

  >li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 20px;

    >a {
      margin-right: 0px;
      text-decoration: underline;
      font-size: 1.3rem;
      padding: 12px;
    }
  }
}


.govuk-tag {
  width: max-content;
  display: inline-block !important;
}





.dfeuk-border-top--thick {
  border-top: 5px solid $color_dfeuk-blue;
  padding-top: 15px;
}

pre {
  max-width: inherit;
  margin-bottom: 30px;
  padding: 0;
  border: 3px solid rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #f3f2f1;
  font-size: inherit;
}


.hljs {
  max-width: 100%;
}


.dfeuk-header__navigation {
  @include mq($from: mobile, $until: desktop) {
    background-color: $color_dfeuk-white;
  }
}

.app-header__navigation-item__item--current {
  @include mq($from: mobile, $until: desktop) {
    background-color: $color_dfeuk-blue;
    box-shadow: none !important;
  }

  >.dfeuk-header__navigation-link {
    color: $color_dfeuk-white;
  }

}

td,
th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

thead>tr {
  background: $color_dfeuk-grey-4;
}



.dfeuk-table--smaller {

  thead>tr {
    background: $color_dfeuk-grey-4;
  }


  th,
  td {
    @include dfeuk-typography-responsive(16);
  }

  caption {
    @include dfeuk-typography-responsive(24);
  }
}

.dfeuk-img-bordered {

  border: 1px solid $dfeuk-border-color;
  background: $color_dfeuk-grey-4;
  padding: 15px;
  margin: 25px 0px;

  &.dfeuk-img-bordered--no-background-colour {
    background: none;
  }
}


.dfeuk-topnav {
  background: $color_dfeuk-secondary-blue;
}


.flex-nav {
  display: flex;
  justify-content: space-between;
}

.flex-right {
  justify-content: flex-end;
  margin-left: auto;
}

.flex-left {
  justify-content: flex-start;
  margin-right: auto;
}

.dfeuk-topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.4em;
}

.dfeuk-topnav li a {
  display: block;
  text-align: center;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  text-decoration: none;
  color: $color_dfeuk-white;
}

@media (min-width: 40.0625em) {
  .dfeuk-topnav li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media print {
  .dfeuk-topnav li a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.dfeuk-topnav li {
  float: left;
  margin-bottom: 0px;
  font-size: 16px;
}

.dfeuk-topnav li a:focus {
  background: #ffdd00;
  color: #171b1f !important;
}

.dfeuk-topnav li a:hover {
  background-color: $color_dfeuk-blue;
  color: #ffffff;
}

.dfeuk-topnav li a:hover:focus {
  color: #ffffff !important;
}

.dfeuk-topnav li a:hover {
  color: #ffffff;
}

.dfeuk-topnav .active {
  color: #ffffff;
  font-weight: 700;
  background-color: $color_dfeuk-blue;
}

.dfeuk-topnav .active:focus {
  color: #171b1f;
}

.dfeuk-topnav ul.right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

@media (max-width: 61.865em) {
  .dfeuk-topnav {
    display: none;
  }
}

@media (min-width: 61.875em) {
  .dfeuk-topnav {
    display: block;
  }
}


.dfeuk-timeline {
  padding: calc(2 * 5px);
}

.dfeuk-timeline .action_needed {
  border: 5px solid #354973;
  padding: 5px 20px 5px 15px;
  box-shadow: none;
  margin-bottom: 30px;
  display: block;
  background: #fff;
}

.dfeuk-timeline .action_needed h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dfeuk-timeline .action_needed:before {
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #354973;
  position: absolute;
  z-index: 2;
  left: -37px;
  top: 5px;
}

.dfeuk-timeline h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.dfeuk-timeline ol {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
}

.dfeuk-timeline ol:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -4.5px;
  bottom: 0;
  border-left: 4px solid #b1b4b6;
  height: 102%;
}

.dfeuk-timeline ol>li {
  margin: 4px 0 20px 10px;
  padding-left: 15px;
  position: relative;
  display: block;
  border-bottom: 1px solid #DEE0E2;
}

.dfeuk-timeline ol>li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.dfeuk-timeline ol>li .dfeuk-timeline-reference {
  display: table;
  position: relative;
}

.dfeuk-timeline ol>li .dfeuk-timeline-reference:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 20px;
  top: 9px;
  z-index: -1;
}

.dfeuk-timeline ol>li:before {
  content: "";
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #b1b4b6;
  position: absolute;
  z-index: 2;
  left: -32px;
  top: 5px;
}

.dfeuk-timeline ol ul li a {
  text-decoration: underline;
}

.dfeuk-timeline-details {
  margin: 10px 0;
}

.dfeuk-timeline-details summary {
  font-size: 0.9em;
}

.dfeuk-timeline-details span {
  display: block;
  font-size: 0.8em;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 4px solid #005EA5;
}


.dfeuk-c-attachment {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  margin-bottom: dfeuk-spacing(4);
  padding: dfeuk-spacing(4);
  padding-bottom: dfeuk-spacing(2);
  background: $color_dfeuk-grey-5;
}

@media (min-width: 40.0625em) {
  .dfeuk-c-attachment {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .dfeuk-c-attachment {
    font-size: 14pt;
    line-height: 1.15
  }
}

.dfeuk-c-attachment:after {
  content: "";
  display: block;
  clear: both
}

.dfeuk-c-attachment .govuk-details__summary {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.25
}

@media print {
  .dfeuk-c-attachment .govuk-details__summary {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfeuk-c-attachment .govuk-details__summary {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.4285714286
  }
}

@media print {
  .dfeuk-c-attachment .govuk-details__summary {
    font-size: 12pt;
    line-height: 1.2
  }
}

.dfeuk-c-attachment__thumbnail {
  position: relative;
  width: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 5px;
  float: left
}

.dfeuk-c-attachment__thumbnail-image {
  display: block;
  width: auto;
  max-width: 99px;
  height: 140px;
  border: rgba(11, 12, 12, 0.1);
  outline: 5px solid rgba(11, 12, 12, 0.1);
  background: #fff;
  box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
  fill: #b1b4b6;
  stroke: #b1b4b6
}

.dfeuk-c-attachment__details {
  padding-left: 134px
}

.dfeuk-c-attachment__details .dfeuk-c-details {
  word-break: break-word;
  word-wrap: break-word
}

.dfeuk-c-attachment__title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin: 0 0 15px
}

@media print {
  .dfeuk-c-attachment__title {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfeuk-c-attachment__title {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 1.1111111111
  }
}

@media print {
  .dfeuk-c-attachment__title {
    font-size: 18pt;
    line-height: 1.15
  }
}

.dfeuk-c-attachment__link {
  line-height: 1.29
}

.dfeuk-c-attachment__metadata {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0 0 15px;
  color: #505a5f
}

@media print {
  .dfeuk-c-attachment__metadata {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfeuk-c-attachment__metadata {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .dfeuk-c-attachment__metadata {
    font-size: 14pt;
    line-height: 1.15
  }
}

.dfeuk-c-attachment__metadata:last-of-type {
  margin-bottom: 0
}

.dfeuk-c-attachment__metadata--compact {
  margin-bottom: 0
}

.dfeuk-c-attachment__abbr {
  text-decoration: none;
  cursor: help
}

.dfeuk-c-attachment-link__abbr {
  text-decoration: none;
  cursor: help
}

.dfeuk-c-big-number {
  margin-bottom: 15px;
  color: #0b0c0c
}

@media print {
  .dfeuk-c-big-number {
    color: #000
  }
}

.dfeuk-c-big-number__value {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  line-height: 1;
  font-size: 80px;
  font-size: 5rem
}


// Overrides



.dfeuk-panel {
  background: $color_dfeuk-grey-5;
  @include dfeuk-responsive-padding(4);
  @include dfeuk-responsive-padding(2, "bottom");
  @include dfeuk-responsive-margin(5, "bottom");

  &.dfeuk-panel-promo {
    background-color: govuk-colour("orange");

    a {
      color: $govuk-text-colour;
      font-weight: 600;
    }
  }
}


.dfeuk-panel {
  padding: 46px;
  margin-bottom: 24px;
  border-radius: 0.75rem
}

@media (min-width: 40.0625em) {
  .dfeuk-panel {
    padding: 46px
  }
}

@media (min-width: 40.0625em) {
  .dfeuk-panel {
    margin-bottom: 32px
  }
}

.dfeuk-panel.dfeuk-panel--grey {
  background-color: #f0f4f5
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .govuk-footer__copyright-logo {
    background-image: url(/assets/govuk-crest-2x.png);
  }
}

.dfeuk-action-link {
  margin-bottom: 32px;
}

.dfeuk-action-link__link .dfeuk-icon__arrow-right-circle {
  fill: $color_dfeuk-blue;
}

.dfeuk-header__navigation-link:active,
.dfeuk-header__navigation-link:focus:visited {
  color: #0b0c0c !important;
}


.custom-dfe-panel {
  border: 1px solid #b1b4b6;
  max-width: 44em;
  margin-bottom: 40px;

}

.app-reading-width{  max-width: 44em !important;}

.custom-dfe-panel.custom-dfe-panel_example {
  max-width: 80em;
}

.custom-dfe-panel--title {
  padding: 10px 15px;
  background: govuk-colour("light-grey");
}

.custom-dfe-panel--content {
  border-top: 1px solid #b1b4b6;
  padding: 15px;
}

.custom-dfe-section {
  margin-bottom: 60px;
}

.code {
  background: #f3f2f1;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

.monospace {
  font-family: monospace;
  font-size: 16px;
}


[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip+[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: black;
  color: white;
}

[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}

[aria-describedby]:hover+[role="tooltip"],
[aria-describedby]:focus+[role="tooltip"] {
  visibility: visible;
}

.app-swatch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

@include mq($from: desktop) {
  .app-swatch {
    display: inline-block;
    position: static;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 7px;
    vertical-align: middle;
  }
}

.app-colour-list-column{vertical-align: middle;}

.example-wrapper{margin: 30px;}


