{% set pageTitle = "Content design" %}
{% set pageDescription = "The skills framework we use in the Department for Education across our design professions." %}
{% set pageSection = "Community" %}
{% set subSection = "Professions" %}
{% set dateUpdated = "January 2023" %}
{% set theme = "Professions" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "community/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>Content designers make things easier for people to understand and use. This can involve working on a single piece of content or on the end-to-end journey of a service to help users complete their goal and government deliver a policy intent. In this role your work may involve the creation of, or change to, a transaction, product or single piece of content that stretches across digital and offline channels.</p>

<p>In this role, you will:</p>

<ul class="govuk-list govuk-list--bullet">
<li>make sure appropriate content is shown to a user in the right place and in the best format</li>
<li>start from discovery and work closely with user researchers, service designers and interaction designers</li>
</ul>




<h2 class="govuk-heading-m">Additional guidance</h2>

<a href="https://www.gov.uk/guidance/content-designer" target="_blank">DDaT content design skills framework</a>

{% endblock %}