{% set pageTitle = "Being an interaction designer" %}
{% set pageDescription = "There's more to being a designer than just the designing; we follow a number of techniques and approaches to become better designers." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "interaction-design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<h2>Our approach to design</h2>


    <ul class="dfeuk-list dfeuk-list--bullet">
        <li>Follow GDS principles of <a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link" rel="noreferrer noopener" target="blank">how to be an Interaction Designer (opens
                  new tab)</a>
        </li>
        <li>Follow <a href="principles-and-best-practice">IxD Clan principles and best practice</a> of how to do
                IxD</li>
        <li>Collaborate with each other</li>
        <li>Collaborate with other Clans</li>
        <li>Work openly so we can be supported and can support others and reuse</li>
        <li>Reuse patterns for consistency between services</li>
        <li>Continually learn and develop</li>
        <li>Share prototypes, journey maps and other IxD outputs</li>
        <li>Document design decisions (what and why)</li>
        <li>Do Design Reviews so we have awareness of work, can support each other and address differences
                  between
                  services</li>
        <li>Document Design Review outcomes for future reference</li>
        <li>Centralise shared documents and IxD outputs in a single location</li>
        <li>Maintain design histories / handover docs</li>
        <li>Share working boards (Lucid / Figma)</li>

    </ul>


   

{% endblock %}