{% set pageTitle = "Interaction design" %}
{% set pageDescription = "An Interaction designer designs how things should work, they remove risk by testing ideas early and often with real users." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "July 2021" %}
{% set backlog_issue_id = "336" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "interaction-design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<h2 class="dfeuk-heading-l">What is interaction design?</h2>
<p>A design practice that works out the best way to let users interact with a product or sub-service. This is done to make sure we create inclusive and accessible products that can be used by all people
</p>

  <h2 class="dfeuk-heading-l">Principles</h2>
  <p>Principles and good practices which we use across interaction design to create usable services for users.</p>
  <ul>
    <li>meet the <a href="https://www.gov.uk/service-manual/service-standard">GOV.UK service standard</a>
    </li>
    <li>address the different needs of DfE service users</li>
    <li>navigate the complexities of delivering digital services to people across the education sector.</li>
  </ul>


  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile dfeuk-heading-l">1</span>
        <h3 class="featured-list--item__heading dfeuk-heading-m">
          <span class="featured-list--item__number dfeuk-heading-l dfeuk-u-margin-bottom-1">1</span>
         Understand all users, their needs, behaviours and pain points
        </h3>
        <p>User needs come in different forms; designing for information-based and task-based needs will lead to services which allow users to accomplish their tasks while designing for behaviour-based needs improves the experience as it will have been designed for how they use the service and avoids 'fudges' and workarounds.
</p>
        <p>Good practice includes:</p>
        <ul class="dfeuk-list dfeuk-list--bullet">
          <li>Understand the research insights</li>
          <li>Use needs-based personas</li>
          <li>Consider both user needs (including accessibility needs) and business needs</li>
          <li>Fix or mitigate user pain points</li>
          <li>Factor in user behaviours</li>
          <li>Understand 'how' the user does xyz</li>
          <li>Understand 'why' the user does xyz</li>
          <li>Think about what's missing (to feed into UR/workshops)</li>
        </ul>

      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile dfeuk-heading-l">2</span>
        <h3 class="featured-list--item__heading dfeuk-heading-m">
          <span class="featured-list--item__number dfeuk-heading-l dfeuk-u-margin-bottom-1">2</span>
          Design accessibly from the start
        </h3>
        <p>Designing for accessibly from the start reduces rework and time, is morally the right thing to do and is a legal requirement.
</p>
        <p>Good practice includes:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-padding-left-7">
          <li>Use sufficient background/foreground colour contrast</li>
          <li>Use industry recommended sizes for interactive components</li>
          <li>Design structure into pages (headings of different levels, lists...)</li>
          <li>Visually indicate the page focus</li>
          <li>Avoid images of text</li>
          <li>Do represent information using just colour on its own</li>
        </ul>

        {{ actionLink({
  "text": "Read more about making your service accessible",
  "href": "/accessibility"
}) }}
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile dfeuk-heading-l">3</span>
        <h3 class="featured-list--item__heading dfeuk-heading-m">
          <span class="featured-list--item__number dfeuk-heading-l dfeuk-u-margin-bottom-1">3</span>
          Follow Gestalt laws
        </h3>
        <p>Gestalt laws are principles which relate to how people naturally perceive visual stimuli, group things together and simplify complex objects. Designers should use these to organise content to maximise natural perception:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-padding-left-7">
          <li><a href="https://lawsofux.com/law-of-proximity/" target="_blank" rel="noopner noreferrer">Law of proximity (opens in new tab)</a></li>
          <li>Law of closure</li>
          <li>Law of similarity</li>
          <li>Law of continuity</li>
        </ul>
      </div>
    </li>

  </ol>

{% endblock %}