{% set pageTitle = "Design stages" %}
{% set pageDescription = "Our approach uses a mix of cognitive, strategic and practical processes which we've grouped into 5 iterative and looping stages to help keep focus on users and their needs." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "interaction-design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <ol class="featured-list">
	<li class="featured-list--item">
		<div class="featured-list--item__content">
			<span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
			<h3 class="featured-list--item__heading nhsuk-heading-m">
				<span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
				Understand
			</h3>
			<ul class="nhsuk-list nhsuk-list--bullet">
				<li>Collaborate and feed into User Research (UR) so we learn how users behave, their needs and pain points and identify any gaps</li>
				<li>Observe and scribe user testing</li>
				<li>Feed into and understand personas / empathy maps</li>
				<li>Analyse / understand user (and business) needs (behavioural, task-based, informational)</li>
				<li>Understand the problem</li>
				<li>Challenge assumptions</li>
				<li>Review existing service(s)</li>
				<li>Collaborate with Content Design (CD) and Service Design (SD) to understand and map the As-Is user journey</li>
				<li>Create design histories (TBC if IxD or project team task</li>
				<li>Review user stories reflect identified user needs</li>
				<li>Stakeholder management (as appropriate)</li>
			</ul>
		</div>
	</li>
    <li class="featured-list--item">
		<div class="featured-list--item__content">
			<span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
			<h3 class="featured-list--item__heading nhsuk-heading-m">
				<span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>
				Define
			</h3>
			<ul class="nhsuk-list nhsuk-list--bullet">
                <li>Define (with the team) MVP / what to test / needs to be met</li>
                <li>Challenge assumptions</li>
                <li>Define tasks to complete</li>
                <li>Create design histories (TBC if IxD task or team task)</li>
                <li>Review user stories reflect identified user needs</li>
                <li>Stakeholder management (as appropriate)</li>
              </ul>
		</div>
	</li>
      <li class="featured-list--item">
		<div class="featured-list--item__content">
			<span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
			<h3 class="featured-list--item__heading nhsuk-heading-m">
				<span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>
				Ideate
			</h3>
			<ul class="nhsuk-list nhsuk-list--bullet">
                <li>Explore concepts, options and journeys</li>
                <li>Collaborate with UR to analyse and understand user needs (behaviours, task-based and informational needs) and identify gaps</li>
                <li>Collaborate with CD / SD on information Architecture and journeys</li>
                <li>Collaborate with devs to undestand what's possible / practical</li>
                <li>Map solutions and needs</li>
                <li>Mock up the experince (Low / high fidelity sketches / wireframes / prototypes / alternatives)</li>
                <li>Clan Collaborative Design Reviews</li>
                <li>Adhere to and champion accessibility standards</li>
                <li>Adhere to and champion IxD principles and best practice</li>
                <li>Reuse patterns and code as appropriate</li>
                <li>Workshops</li>
                <li>Documentation (design histories, design rationale, review BA user stories)</li>
                <li>Share learnings with the Clan</li>
                <li>Collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps
                </li><li>Stakeholder management (as appropriate)</li>
              </ul>
			</ul>
		</div>
	</li>
       <li class="featured-list--item">
		<div class="featured-list--item__content">
			<span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
			<h3 class="featured-list--item__heading nhsuk-heading-m">
				<span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>
				Refine
			</h3>
			<ul class="nhsuk-list nhsuk-list--bullet">
                <li>Collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps</li>
                <li>Evaluate and evolve / iterate prototypes / journeys based on UR or design review</li>
                <li>Collaborative Design Reviews</li>
                <li>Collaborate on dev build</li>
                <li>Support accessibility testing</li>
                <li>Documentation (design histories)</li>
                <li>Share learnings with the Clan</li>
                <li>Stakeholder management (as appropriate)</li>
              </ul>
		</div>
	</li>
    <li class="featured-list--item">
		<div class="featured-list--item__content">
			<span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
			<h3 class="featured-list--item__heading nhsuk-heading-m">
				<span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>
				Iterate
			</h3>
			<ul class="nhsuk-list nhsuk-list--bullet">
                <li>Celebrate successes</li>
                <li>Learn and iterate cycle</li>
                <li>Documentation</li>
              </ul>
		</div>
	</li>
</ol>


{% endblock %}