<div class="dfeuk-width-container">
  <main class="dfeuk-main-wrapper" id="maincontent" role="main">
    <div class="dfeuk-grid-row">
      <div class="dfeuk-grid-column-two-thirds">
        <h2>Two-thirds column</h2>
      </div>
    </div>
  </main>
</div>
