{% extends "includes/example-layout.njk" %}

{% block bodyContent %}

  <header class="dfe-header" role="banner">
    <div class="dfe-width-container dfe-header__container">
      <div class="dfe-header__logo">
        <a class="dfe-header__link dfe-header__link--service " href="#" aria-label="DfE homepage">
          <img src="/assets/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
          <img src="/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
          <span class="dfe-header__service-name">
         Service name
         </span>
        </a>
      </div>
    </div>
  </header>
  {% endblock%}