{% set pageTitle = "Services we've built" %}
{% set pageDescription = "Services built and maintained by the Department for Education Design Ops team." %}
{% set pageSection = "Design Ops" %}
{% set dateUpdated = "December 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-ops/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h3 class="govuk-heading-m">
    <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a>
  </h3>
  <p>Guidance and information for how to apply the Government <a href="https://www.gov.uk/service-manual/service-standard" target="_blank">Service Standard</a> to design and build accessible, usable and understandable services.</p>

  <p>
    <a href="https://github.com/DFE-Digital/apply-service-standard-in-dfe" target="_blank">Source code</a>
  </p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-m">
    <a href="https://design-histories.education.gov.uk/" target="_blank">Design Histories</a>
  </h3>
  <p>Design histories enable teams to talk about their work and how services have changed over time.</p>
  <p>
    <a href="https://github.com/DFE-Digital/dfe-design-histories-frontend" target="_blank">Source code</a>
  </p>

{% endblock %}