{% from 'card/macro.njk' import card %}

<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">
    {{ card({
      "clickable": "true",
      "headingHtml": "<p class=\"dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1\">91 <span class=\"dfeuk-u-visually-hidden\">Applicants</span></p><a href=\"#\" class=\"dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state\">Applicants</a>"
    }) }}
  </li>
  <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">
    {{ card({
      "clickable": "true",
      "headingHtml": "<p class=\"dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1\">23 <span class=\"dfeuk-u-visually-hidden\">Jobs</span></p><a href=\"#\" class=\"dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state\">Jobs</a>"
    }) }}
  </li>
  <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">
    {{ card({
      "clickable": "true",
      "headingHtml": "<p class=\"dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1\">8 <span class=\"dfeuk-u-visually-hidden\">Services</span></p><a href=\"#\" class=\"dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state\">Services</a>"
    }) }}
  </li>
  <li class="dfeuk-grid-column-one-quarter dfeuk-card-group__item">
    {{ card({
      "clickable": "true",
      "headingHtml": "<p class=\"dfeuk-heading-xl dfeuk-u-font-size-64 dfeuk-u-margin-bottom-1\">33 <span class=\"dfeuk-u-visually-hidden\">Messages</span></p><a href=\"#\" class=\"dfeuk-card__link dfeuk-u-font-weight-normal dfeuk-u-font-size-19 dfeuk-link--no-visited-state\">Messages</a>"
    }) }}
  </li>
</ul>
