{% extends "includes/layout.njk" %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/content",
        text: "Content style guide"
      }
    ],
    href: "/content/inclusive-content",
    text: "Inclusive content"
  }) }}
{% endblock %}

{% block body %}

  <div class="dfeuk-grid-row">
    <div class="dfeuk-grid-column-full app-component-reading-width">

      <h1>
        {%- if pageSection %}
        <span class="dfeuk-caption-l">
          {{pageSection}}
          <span class="dfeuk-u-visually-hidden"> - </span>
        </span>
        {% else %}
        {% endif %}
        {{pageTitle}}
      </h1>
      {% include "content/inclusive content/age.njk" %}

      <p class="dfeuk-body-l">{{pageDescription}}</p>

      {% block bodyContent %}
      {% endblock %}

    </div>
  </div>

{% endblock %}
