{% set pageTitle = "Overview" %}
{% set pageDescription = "A guide for understanding WCAG in the context of users of Department for Education services." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "16 December 2022" %}
{% set theme = "Understanding WCAG" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>The Web Content Accessibility Guidelines (WCAG) are divided into 4 groups:</p>

  <ul>
    <li><a href="/accessibility/understanding-wcag/perceivable">Perceivable</a> - Text alternative for non-text content such as images and charts, captions and other alternatives for video should be provided, and content should be adaptable by the user to fit their requirements.</li>
    <li><a href="/accessibility/understanding-wcag/operable">Operable</a> - Users should be able to easily navigate around the site and have enough time to interact with the content without discomfort or physical reactions.</li>
    <li><a href="/accessibility/understanding-wcag/understandable">Understandable</a> - Content must be understandable by different types of users, must appear and behave in predictable ways and users should be helped to correct mistakes.</li>
    <li><a href="/accessibility/understanding-wcag/robust">Robust</a> - Content must be robust and compatible with current and future tools, browsers and technologies.</li>
  </ul>

<p>The criteria make up 3 levels. A, AA, and AAA, each building on the previous. To declare your website or service AA compliant you need to meet all of the A and AA criteria. For A and AA there are around 50 criteria in total.</p> 

<p>Using the guides for each group, you can better understand how to meet these levels and understand what it means to be compliant.</p>

<p>Meeting full AAA compliance is not recommended as a general policy. It is not always possible to satisfy all of the criteria, and doing so will make your service appear inconsistent with the rest of GOV.UK.</p>

  <p>
    <a href="https://www.legislation.gov.uk/uksi/2022/1097/made" target="_blank">The Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018</a> was amended on 26 October 2022 and now states that as a public body, we are required to conform to the latest version of WCAG, currently 2.1.</p>

  <p>All guidelines for Level A and Level AA for the latest published version (2.1) are included. We have also made available the draft <a href="/accessibility/understanding-wcag/draft-2-2">WCAG 2.2 guidelines</a> to start to understand their impact on services you may be building now.</p>

{% endblock %}