{% set pageTitle = "Content design" %}
{% set pageDescription = "What it's like to work as a content designer in the Department for Education." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "46" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

  <h2 class="govuk-heading-m">What a content designer does:</h2>

  <p>Content designers are responsible for:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>ensuring content easy to understand, using plain English</li>
    <li>working on single peices of content or across the user journey of a service</li>
    <li>making sure content is presented in the right place in the best format</li>
    <li>getting involved with projects from discovery and work throughout the delivery lifecycle</li>
    <li>contribute into, and support, other disciplines and help to shape direction</li>
  </ul>


<h2 class="govuk-heading-m">Expectations of content designers</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>work to <a href="/content-guidelines/">DfE content guidelines</a></li>
  <li>ensure that the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" target="_blank">GOV style guide</a> is followed for writing content on GOV.UK</li>
  <li>ensure that design is done in line with <a href="/accessibility/understanding-wcag/">accessibility guidelines</a></li>
  <li>follow the <a href="https://www.gov.uk/guidance/content-designer" target="_blank">skills and capability framework for content designers</a></li>
  <li>collaborate and share work with other content designers across DfE, not just within your portfolio</li>
  <li>collaborate and work alongside other professions, including <a href="https://dfedigital.blog.gov.uk/2017/12/21/using-pair-writing-to-improve-internal-guidance/" target="_blank">pair writing</a></li>
  <li>contribute and write <a href="/assurance/design-histories">design histories</a> detailing decisions to change a service</li>
  <li>take part in design reviews, design crits, and 2i (2 eye) peer reviews</li>
  <li>use our agreed design tools, Lucid, Hemingway, and Figma</li>
</ul>


<h2 class="govuk-heading-m">Training and learning</h2>

<ul class="govuk-list">
  <li>
    <a href="https://contentdesign.london/" target="_blank">Content Design London</a>
  </li>
  <li>
    <a href=" https://www.gov.uk/service-manual/design/user-centred-design-training-and-events" target="_blank">User-centred design training and events</a>
  </li>
  <li><a href="https://agilecommshandbook.com/" target="_blank">Agile comms handbook</a></li>
  <li><a href="https://trello.com/b/p76V0s1F/content-design-toolkit" target="_blank">Content design toolkit - Trello</a></li>
</ul>

<p>We also have a community theme on <a href="/community/themes#career-pathways">career pathways</a>. We are working on guidance and support for people who want to get into design, or change to a different design profession in DfE.</p>

<h2 class="govuk-heading-m">Job descriptions</h2>

<p>We recruit content designers against the <a href="https://www.gov.uk/guidance/content-designer">Digital, Data and Technology (DDaT) Profession Capability Framework</a>.</p>

<p>We are working on a new way of publishing our job descriptions and will have them online by 10 February 2023</p>

{% endblock %}