{% set pageTitle = "Becoming a content designer" %}
{% set pageDescription = "Content designers write content that is easy to understand, in plain English and help people get the outcomes they need using our services." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "March 2023" %}
{% set backlog_issue_id = "46" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

{% markdown %}

## What a content designer does</h2>

  <p>Content designers are responsible for:

  <ul class="govuk-list govuk-list--bullet">
    <li>ensuring content is easy to understand, using plain English</li>
    <li>working on single pieces of content or across the user journey of a service</li>
    <li>making sure content is presented in the right place in the best format</li>
    <li>getting involved with projects from discovery and work throughout the delivery lifecycle</li>
    <li>contribute into, and support, other disciplines and help to shape direction</li>
  </ul>


## Expectations of content designers

<ul class="govuk-list govuk-list--bullet">
  <li>work to <a href="/content-guidelines/">DfE content guidelines</a></li>
  <li>ensure that the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" target="_blank">GOV style guide</a> is followed for writing content on GOV.UK</li>
  <li>ensure that design is done in line with <a href="/accessibility/understanding-wcag/">accessibility guidelines</a></li>
  <li>collaborate and share work with other content designers across DfE, not just within your portfolio</li>
  <li>collaborate and work alongside other professions, including <a href="https://dfedigital.blog.gov.uk/2017/12/21/using-pair-writing-to-improve-internal-guidance/" target="_blank">pair writing</a></li>
  <li>contribute and write <a href="/assurance/design-histories">design histories</a> detailing decisions to change a service</li>
  <li>take part in design reviews, design crits, and 2i (2 eye) peer reviews</li>
  <li>use our agreed design tools, Lucid, Hemingway, and Figma</li>
</ul>

If you're interested in retraining to become a content designer, here are some steps you can take:

## Learn about content design

Before starting your training, it's important to have a good understanding of what content design is and what it entails. Research online, read books, attend events, and talk to professionals in the profession to get an idea of what content design involves.

## Develop relevant skills

Content design requires a combination of skills, including writing, editing, user research, UX/UI design, and project management. Consider taking courses or workshops that can help you develop these skills.

## Build a portfolio

A portfolio is an essential tool for showcasing your skills and experience. Develop a portfolio that showcases your content design skills and includes examples of your work.

## Get experience

Look for opportunities to gain experience in content design. This can include volunteering, internships, or entry-level positions in writing, editing, or related professions.

As you gain skills and experience, look for opportunities to work on design projects. This can help you gain practical experience and make connections in the profession.

You can ask to shadow designers across the department who are working on services. If you want to find out more, <a href="mailto:andy.jones@education.gov.uk?Subject=Career progression - Shadowing design">get in contact with the Head of Design Profession, Andy Jones</a>.

You can read our <a href="https://dfe-digital.github.io/dfe-job-descriptions/content_design/index.html" target="_blank">content design job descriptions</a> for more information about skills and responsibilities.

## Consider further education

There are many courses and programs available that offer training in content design, including master's degrees, postgraduate certificates, and short courses.

## Network

Attend events and conferences to meet other content designers and learn about the latest trends and best practices in the profession. Consider joining a professional association, such as the <a href="https://contentdesign.london/" target="_blank">Content Design London</a> community, to connect with other designers and access resources and training opportunities.

Other training and networks include: 

<ul class="govuk-list">
  <li>
    <a href=" https://www.gov.uk/service-manual/design/user-centred-design-training-and-events" target="_blank">User-centred design training and events</a>
  </li>
  <li><a href="https://agilecommshandbook.com/" target="_blank">Agile comms handbook</a></li>
  <li><a href="https://trello.com/b/p76V0s1F/content-design-toolkit" target="_blank">Content design toolkit - Trello</a></li>
</ul>


## Keep learning

Content design is a constantly evolving profession, so it's important to keep learning and staying up-to-date on the latest trends and best practices. Consider taking courses, attending events, or joining professional associations to stay informed and connected to others in the profession.



<div class="govuk-inset-text">Some of this content was written by subject matter experts in DfE along with content from Chat GPT.</div>

{% endmarkdown%}

{% endblock %}