{% set pageTitle = "Accessibility statement" %}
{% set pageDescription = "Template for the accessibility statement you need to use in your service." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "" %}


{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

{{ insetText({
  "HTML": "<p>It is a legal requirement to publish an accessibility statement.</p>"
}) }}

{% markdown %}

## Statement templates

If your service is on a [.service.gov.uk](gov) domain.

If your service is on the [education.gov.uk](education) domain.

{% endmarkdown %}

{% endblock %}
