
{% set pageTitle = "Accessibility statement for services on education.gov.uk" %}
{% set pageDescription = "Template for the accessibility statement you need to use in your service." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

{% markdown "includes/accessibility-statement-edu.md"%}

{% endblock %}