{% set pageTitle = "Accessibility" %}
{% set pageDescription = "How we ensure our services are accessible and inclusive for all." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}


Your service must be accessible to everyone who needs it. If it is not, you may be breaking the law.

Everyone who works on DfE digital services has a role to play in making them accessible and inclusive.

## Accessibility and the law

If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank">2010 Equality Act</a>.

New accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank">more about the new regulations on GOV.UK</a>.




{% endmarkdown %}

{% endblock %}
