{% set pageTitle = "The law" %}
{% set pageDescription = "Accessibility is a part of several laws and standards we must follow. Each of the standards feed into the Equality Act 2010 and the Public Sector Equality Duty." %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set theme = "Accessibility" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

<p>The following laws and standards apply regardless of who the users of the service are, this includes:</p>

<ul class="govuk-list govuk-list--bullet">
<li>members of the public</li>
<li>teachers and pupils</li>
<li>DfE or other agency staff</li>
</ul>

<p>Accessibility requirements are enforced through different legislation and standards, specifically (the following links will open in a new tab):</p>

<ul class="govuk-list govuk-list--bullet">
<li><a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  target="_blank" rel="noopener noreferrer">Equality Act 2010</a> </li>
<li><a href="https://www.gov.uk/government/publications/public-sector-equality-duty" target="_blank" rel="noopener noreferrer">Public sector equality duty</a></li>
<li><a href="https://www.legislation.gov.uk/uksi/2018/852/introduction/made" target="_blank" rel="noopener noreferrer">Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018</a></li>
<li><a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopener noreferrer">Public sector bodies accessibility regulations 2018</a></li>
<li><a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/02.01.02_60/en_301549v020102p.pdf" target="_blank" rel="noopener noreferrer">EN 301 549 Accessibility requirements for ICT products and services (PDF)</a></li>
<li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements"  target="_blank" rel="noopener noreferrer">GOV.UK accessibility requirements</a></li>
</ul>

<div class="govuk-inset-text">
You'll be required to demonstrate how you are complying with the law and meeting the Service Standard as part of your <a href='https://apply-the-service-standard.education.gov.uk/service-assessments/' target="_blank">service assessments</a>.
</div>

 <h2 class="govuk-heading-l">Assuring accessibility through the Service Standard</h2>

<p>Your service must:</p>

<ul class="govuk-list govuk-list--bullet">
<li>meet <a href="/accessibility/understanding-wcag/">ensure it meets WCAG 2.1 Level AA guidelines</a> which will be assured through <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service.html" target="_blank">Service Standard point 5</a>.</li>
<li>work on the most <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"  target="_blank" rel="noopener noreferrer">commonly used assistive technologies (opens in new tab)</a> , including screen magnifiers, screen readers and speech recognition tools</li>
<li>include disabled people in user research</li>
<li>have an <a href="/accessibility/accessibility-statement/">accessbility statement</a> that explains how accessible the service is, you need to publish this when the service moves into public beta</li>
<li>have an <a href="/accessibility/accessibility-audit/">accessibility audit</a> done before moving into public beta</li>
</ul>
  
       



{% endmarkdown %}



{% endblock %}
