<p>Symptoms can include:</p>
<ul class="dfeuk-list dfeuk-list--bullet">
  <li>tiredness and lack of energy</li>
  <li>shortness of breath</li>
  <li>noticeable heartbeats (heart palpitations)</li>
  <li>pale skin</li>
</ul>
