{% set pageTitle = "Content design" %}
{% set pageDescription = "Content design in DfE" %}
{% set pageSection = "Content design" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

{% endblock %}
