{% from 'tag/macro.njk' import tag %}

<table class="dfeuk-table">
  <thead class="dfeuk-table__head">
    <tr class="dfeuk-table__row">
      <th class="dfeuk-table__header" scope="col"> Application </th>
      <th class="dfeuk-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="dfeuk-table__body">
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Leo Cashin
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Urgent",
          classes: "dfeuk-tag--red"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Amy Louth
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "New",
          classes: "dfeuk-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Barbara Angel
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "New",
          classes: "dfeuk-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Annette Armstrong
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "New",
          classes: "dfeuk-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Vishal Gurudutt
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "New",
          classes: "dfeuk-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Rachel Preece
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Finished",
          classes: "dfeuk-tag--green"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        Tom Hunter
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Waiting on",
          classes: "dfeuk-tag--yellow"
        })}}
      </td>
    </tr>
  </tbody>
</table>
