{% set pageTitle = "Vision and objectives" %}
{% set pageDescription = "The vision and objectives of the Design Ops team in the Department for Education." %}
{% set pageSection = "Design Ops" %}
{% set dateUpdated = "December 2022" %}
{% set backlog_issue_id = "42" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-ops/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

  <h2 class="govuk-heading-l">Vision</h2>
  <p>Enabling design teams in the Department for Education to create good services through a framework of standards, tools and processes.</p>

  <h2 class="govuk-heading-l">Objectives</h2>
  <p>Our objectives set out the work we do, how we'll do it, and measure success.</p>

  <span class="govuk-caption-l">Objective 1</span>
  <h3 class="govuk-heading-m" id="objective-1">Design and implement an improved service assurance framework</h3>

  <p>We will work with assurance and service assessment colleagues to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>implement a new discovery peer review processes</li>
    <li>improve the department's service assessment process for alpha, beta, and live service assessments</li>
    <li>carry out a discovery for designing an ongoing service assessment process</li>
    <li>design a new ongoing training process for becoming an assessor or lead assessor</li>
    <li>improve the reporting process and outcomes and make use of data for service assessments</li>
  </ul>

  <span class="govuk-caption-l">Objective 2</span>
  <h3 class="govuk-heading-m" id="objective-2">Designers to have access to, use, and iterate, common patterns, tools, and components</h3>

  <p>We will:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>ensure all new design colleagues joining DfE get the right kit and access to tools they need from day 1</li>
    <li>ensure everyone including contractors, who join DfE, get time with the Head of Profession to understand design standards and principles</li>
    <li>work with designers to identify, document, and publish common components and patterns</li>
    <li>reset the design communities of practice to support growing the maturity of design in DfE</li>
    <li>design career pathways and skills development for people looking to join or change design professions</li>
  </ul>

  <span class="govuk-caption-l">Objective 3</span>
  <h3 class="govuk-heading-m"  id="objective-3">Enable anyone working in, or with, design professions, to understand the value of good design</h3>

  <p>We will:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>make it easier for designers to talk about our work, in the open</li>
    <li>encourage and support teams to hold more show and tells and invite people from outside their teams</li>
    <li>develop and publish key design metrics which design can be consistely measured against</li>
    <li>support designers in defining what good looks like for design</li>
    <li>grow the understanding and value of design outsdide traditional design and digital teams</li>
  </ul>

  <span class="govuk-caption-l">Objective 4</span>
  <h3 class="govuk-heading-m"  id="objective-4">Ensure that all the services we provide to end users meet accessibility requirements</h3>

  <p>We will:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>recruit a senior accessibility specialist into the Design Ops team to support and implement accessibility, usability, and inclusive design initiatives</li>
    <li>publish and assure a DfE Accessibility Standard</li>
    <li>design and implement an accessibility training process for all new starters along with profession-specific training</li>
    <li>develop an ongoing service assurance process for the monitoring and compliance with accessibility regulations and standards</li>
  </ul>

  <span class="govuk-caption-l">Objective 5</span>
  <h3 class="govuk-heading-m"  id="objective-5">Support departmental objectives and missions</h3>

  <p>We will:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>collaborate with operational and delivery teams to implement department objectives</li>
    <li>support policy teams with user-centred principles and processes</li>
    <li>deliver solutions which support maturing design professions in DfE and improving services for our users</li>
  </ul>

{% endblock %}