<div class="dfeuk-grid-row">
  <div class="dfeuk-grid-column-two-thirds">
    <p>dfeuk-grid-column-two-thirds</p>
    <div class="dfeuk-grid-row">
      <div class="dfeuk-grid-column-one-half">
        <p>dfeuk-grid-column-one-half</p>
      </div>
      <div class="dfeuk-grid-column-one-half">
        <p>dfeuk-grid-column-one-half</p>
      </div>
    </div>
  </div>
</div>
