<div class="govuk-inset-text"><p>Use the <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a> first.</p><p>Always apply DfE Frontend styles after GOV Frontend styles.</p></div>