/* ==========================================================================
   #SIDE-NAV
   ========================================================================== */

.app-side-nav__heading {
  @include dfeuk-font(19, $line-height: 1.25, $weight: bold);
  color: $dfeuk-secondary-text-color;
  margin-bottom: 12px;
  padding-top: 4px;

  @include mq($until: desktop) {
    @include dfeuk-font(24, $line-height: 1.25, $weight: bold);
    color: $dfeuk-text-color;
  }
}

.app-side-nav__back {
  border-bottom: 1px solid $dfeuk-border-color;
  padding-bottom: dfeuk-spacing(3);
}

.app-side-nav__list {
  @include dfeuk-font(16, $line-height: 1.3);
  margin-bottom: 0;

  @include mq($until: desktop) {
    @include dfeuk-font(19, $line-height: 1.3);
    margin-bottom: dfeuk-spacing(2);
  }
}

.app-side-nav__item {
  padding-bottom: 4px;
  padding-top: 4px;
}

.app-side-nav__item--current {
  border-left: 4px solid $color_dfeuk-blue;
  margin-left: -12px;
  padding-left: 8px;

  .app-side-nav__link {
    font-weight: $dfeuk-font-bold;
  }
}

.app-side-nav__link {
  text-decoration: none;

  @include mq($until: desktop) {
    text-decoration: underline;
  }

  &:visited {
    color: $color_dfeuk-blue;
  }

  &:hover {
    color: $dfeuk-link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    &:hover,
    &:visited {
      color: $dfeuk-focus-text-color;
    }
  }
}

.app-side-nav__list--nested {
  @include dfeuk-responsive-margin(2, 'bottom');
  @include dfeuk-responsive-margin(3, 'top');

  .app-side-nav__item {
    @include dfeuk-font(16, $line-height: 1.3);
    list-style: none;
  }

  .app-side-nav__link {
    font-weight: 400;
  }
}

.app-side-nav__list--nested .app-side-nav__item::before {
  color: $color_dfeuk-grey-3;
  content: '—';
  margin-left: -20px;
  margin-right: 4px;
}

.app-index-navigation {
  @include dfeuk-responsive-padding(4, 'top');
}
