<h1>
  <span role="text">
    What is AMD?
    <span class="dfeuk-caption-xl dfeuk-caption--bottom">
      <span class="dfeuk-u-visually-hidden"> 
			-
			</span> 
        Age-related macular degeneration (AMD)
		</span>
  </span>
</h1>