{% set pageTitle = "Becoming a service designer" %}
{% set pageDescription = "Service designers design the end-to-end journey of a service. This helps a user complete their goal and the department deliver a policy intent." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "March 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

{% markdown %}


If you're interested in retraining to become a service designer, here are some steps you can take:

## Learn about service design

Before starting training, it's important to have a good understanding of what service design is and what it entails. Research online, read books, attend events and talk to professionals in the profession to get an idea of what service design involves.

The following books are good resources for learning about service design:

<ul class="govuk-list">
    <li><a target="_blank" href="http://thisisservicedesignthinking.com/">This is service design thinking</a></li>
    <li><a target="_blank" href="https://www.thisisservicedesigndoing.com/">This is service design doing</a></li>
    <li><a target="_blank" href="https://good.services/home">Good services</a></li>
    
</ul>

You can also find additional information on the following websites:

<ul class="govuk-list">
     <li><a target="_blank" href="https://gds.blog.gov.uk/2016/04/18/what-we-mean-by-service-design/">What we mean by service design</a></li>
     <li><a target="_blank" href="https://designnotes.blog.gov.uk/">Design in government blog</a></li>
     <li><a target="_blank" href="https://www.nngroup.com/">Nielsen Norman Group</a></li>
</ul>

## Develop relevant skills

Service design requires a combination of skills, including design thinking, user research, visual design, project management, and communication. Consider taking courses or workshops that can help you develop these skills.

For example, take a service or process which you find difficult and see how you can make it simpler, this could be transferring money using a banking app, or paying a bill online. 

Learn to use techniques such as:

<ul class="govuk-list">
     <li><a target="_blank" href="https://servicedesigntools.org/tools/service-blueprint">Service blueprints</a></li>
     <li><a target="_blank" href="https://www.nngroup.com/articles/journey-mapping-101/">User journey map</a></li>
</ul>

## Build a portfolio

A portfolio is an essential tool for showcasing your skills and experience. Develop a portfolio that showcases your service design skills and includes examples of your work.

## Look for roles or shadow designers

As you gain skills and experience, look for opportunities to work on design projects. This can help you gain practical experience and make connections in the profession.

You can ask to shadow designers across the department who are working on services. If you want to find out more, <a href="mailto:andy.jones@education.gov.uk?Subject=Career progression - Shadowing design">get in contact with the Head of Design Profession, Andy Jones</a>.

You can read our <a href="https://dfe-digital.github.io/dfe-job-descriptions/service_design/index.html" target="_blank">service design job descriptions</a> for more information about skills and responsibilities.

## Consider further education

There are many courses and programs available that offer training in service design, including master's degrees, postgraduate certificates, and short courses.

## Network

Attend events and conferences to meet other service designers and learn about the latest trends and best practices in the profession. Consider joining a professional association, such as the Service Design Network or the Design Management Institute, to connect with other designers and access resources and training opportunities.

Remember, becoming a service designer takes time and effort, but with dedication and hard work, you can successfully retrain and transition into this exciting fieprofessionld.

{% endmarkdown%}

{% endblock %}