{% set pageTitle = "Service design" %}
{% set pageDescription = "What it's like to work as a service designer in the Department for Education." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "48" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% endblock %}
