{% set pageTitle = "Design professions" %}
{% set pageDescription = "Learn about the different design professions in the Department for Education." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "March 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

{% markdown %}

There are 3 design professions in the department:

    <ul class="govuk-list govuk-list--bullet">
        <li><a href="/professions/content-design">Content design</a></li>
        <li><a href="/professions/interaction-design">Interaction design</a></li>
        <li><a href="/professions/service-design">Service design</a></li>
    </ul>


<h2 class="govuk-heading-m" id="team">Design leadership</h2>

<p>The professions are led by the heads of design.</p>

  <ul class="dfeuk-grid-row dfeuk-card-group">

    <li class="dfeuk-grid-column-one-half dfeuk-card-group__item">
      <div class="dfeuk-card">
        <img class="dfeuk-card__img" src="/assets/profile.jpg" alt="">
        <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
           Vacant
          </h2>
          <p class="dfeuk-card__description">Head of Content Design</p>
            <p class="dfeuk-card__description">Currently being covered by Andy Jones.</p>
        </div>
      </div>
    </li>
    <li class="dfeuk-grid-column-one-half dfeuk-card-group__item">
      <div class="dfeuk-card">
        <img class="dfeuk-card__img" src="/assets/andy.jpg" alt="Picture of Andy Jones, Head of Design">
        <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
            Andy Jones
          </h2>
          <p class="dfeuk-card__description">Head of Interaction and Service Design</p>
           <p class="dfeuk-card__description"><a href="/design-ops/contact">Contact Andy</a></p>
        </div>
      </div>
    </li>
    </ul>

{% endmarkdown%}

{% endblock %}