{% set pageTitle = "Professions" %}
{% set pageDescription = "Guidance for the design professions in the Department for Education and what we do." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}



{% endblock %}
