{% from 'date-input/macro.njk' import dateInput %}

{{ dateInput({
  "id": "dob-errors",
  "fieldset": {
    "legend": {
      "text": "What is your date of birth?",
      "classes": "dfeuk-label--l",
      "isPageHeading": true
    }
  },
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "errorMessage": {
    "text": "Enter your date of birth"
  },
  "items": [
    {
      "name": "day",
      "classes": "dfeuk-input--width-2 dfeuk-input--error"
    },
    {
      "name": "month",
      "classes": "dfeuk-input--width-2 dfeuk-input--error"
    },
    {
      "name": "year",
      "classes": "dfeuk-input--width-4 dfeuk-input--error"
    }
  ]
}) }}
