<div class="dfeuk-grid-row">
  <div class="dfeuk-grid-column-full">
    <div class="dfeuk-u-reading-width">
      <p>This is example content which would exceed 70-80 characters per line, if used within a full width column. The .dfeuk-u-reading-width utility class will apply a maximum width and limit the number of characters per line.</p>
    </div>
  </div>
</div>
