{% set pageTitle = "Community" %}
{% set pageDescription = "The user-centred design community in the Department for Education" %}
{% set pageSection = "Community" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

<p>We are working on a new vision and objectives for the design community across DfE.</p>

<p>We aim to work in the open, share our work, and collabrate with other government departments. We'll be using this space to talk about our work and progress.</p>

{% endblock %}
