{% set pageTitle = "Community overview" %}
{% set pageDescription = "The user-centred design community in the Department for Education" %}
{% set pageSection = "Community" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

    <p>Our communities of practice are crucial to growing the maturity of design in DfE.</p>

    <p>The design communities of practice are:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Content design</li>
        <li>Interaction design</li>
        <li>Service design</li>
    </ul>

    <p>Our communities of practice is led by the Head of Profession for Design, who is <a href="/design-ops#team">Andy Jones</a>.</p>

    <h2 class="govuk-heading-m">Community objective themes</h2>

    <p>Our community objectives align to the <a href="/design-ops/">design ops</a> model. This means the work we do in our communities of practice help to improve:</p>

       <ul class="govuk-list govuk-list--bullet">
        <li>how we work together</li>
        <li>how we get work done</li>
        <li>how our work creates impact</li>
    </ul>

    <p><a href="/community/themes/">Read more about the themes we're working on</a>.</p>

    
{% endblock %}