{% set pageTitle = "Principles" %}
{% set pageDescription = "The guiding principles for how we do design in the Department for Education." %}
{% set pageSection = "Principles" %}
{% set dateUpdated = "December 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "principles/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}



{% endmarkdown %}

{% endblock %}
