{% set pageTitle = "Design histories" %}
{% set pageDescription = "Design histories help designers tell a story about changes to a service over time, using evidence, research and insight." %}
{% set pageSection = "Design" %}
{% set dateUpdated = "February 2023 by the Design Ops team" %}
{% set backlog_issue_id = "36" %}
{% set subSection = "Assurance" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

    <p class="govuk-body">Design histories can be used to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>demonstrate how you have iterated a service from user research activity</li>
        <li>share decisions and changes with new people joining the team</li>
        <li>help others across DfE and across other government departments identify solutions to similar problems</li>
        <li>support showing your work at peer reviews and service assessments</li>
    </ul>

    <p class="govuk-body">In DfE, we have built a design history service, which uses an open-source CMS and is supported by the <a href="/design-ops/">Design Ops team</a>.</p>

    <p>You can reference your team or service design history directly. These are branded consistently in line with guidelines and you can make use of any GOV.UK Design System components.</p>

    <p>The DfE design history service is free. There are no costs associated with using this service, and you don't need to set up hosting or deploy changes manually.</p>

    {{ actionLink({
  "text": "Design history service",
  "href": "https://design-histories.education.gov.uk/"
}) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-0">Cross-government design history project</h2>

    <div class="govuk-inset-text">We do not recommend using this in DfE</div>

    <p>There is a x-gov design history service, but we do not recommend using it in DfE. This is because it requires additional support if you are unfamiliar with GitHub and using Heroku or Netlify.</p>
    <p>Additionally, you may also incurr costs for hosting, </p>
    <p>You can find out more about this project in the <a href="https://x-govuk.github.io/govuk-design-history/" target="_blank" rel="noopener noreferrer">x-gov design history repository</a>

    {% endblock %}