&lt;h1 class="govuk-heading-l"&gt;Accessibility statement&lt;/h1&gt;
&lt;p class="govuk-body"&gt;This accessibility statement applies to [name of the
  service].&lt;/p&gt;
&lt;p class="govuk-body"&gt;This website is run by the Department for Education. We
  want as many people as possible to be able to use this website. For example,
  that means you should be able to:&lt;/p&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;change colours, contrast levels and fonts&lt;/li&gt;
  &lt;li&gt;zoom in up to 300% without the text spilling off the screen&lt;/li&gt;
  &lt;li&gt;navigate most of the website using just a keyboard&lt;/li&gt;
  &lt;li&gt;navigate most of the website using speech recognition software&lt;/li&gt;
  &lt;li&gt;listen to most of the website using a screen reader (including the most
      recent versions of JAWS, NVDA and VoiceOver)&lt;/li&gt;
&lt;/ul&gt;
&lt;p class="govuk-body"&gt;We've also made the website text as simple as possible to
  understand.&lt;/p&gt;
&lt;a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopner noreferrer"&gt;
  AbilityNet (opens in a new tab)&lt;/a&gt; has advice on making your device easier to
  use if you have a disability.
&lt;h2 class="govuk-heading-m"&gt;How accessible this website is&lt;/h2&gt;
&lt;p class="govuk-body"&gt;We know some parts of this website are not fully
  accessible:&lt;/p&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;[most older PDF documents are not fully accessible to screen reader
  software]&lt;/li&gt;
&lt;/ul&gt;
&lt;h2 class="govuk-heading-m"&gt;Feedback and contact information&lt;/h2&gt;
&lt;p class="govuk-body"&gt;If you need information on this website in a different
  format like accessible PDF, large print, easy read, audio recording or
  braille:&lt;/p&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;email [email address]&lt;/li&gt;
  &lt;li&gt;call [phone number]&lt;/li&gt;
  &lt;li&gt;[any other contact details]&lt;/li&gt;
&lt;/ul&gt;
&lt;p class="govuk-body"&gt;We'll consider your request and get back to you in
  [number] days.&lt;/p&gt;
&lt;h2 class="govuk-heading-m"&gt;Reporting accessibility problems with this website
  &lt;/h2&gt;
&lt;p class="govuk-body"&gt;We're always looking to improve the accessibility of this
  website. If you find any problems not listed on this page or think we're not
  meeting accessibility requirements, contact: [provide both details of how to
  report these issues and contact details for the unit or person responsible
  for dealing with these reports].&lt;/p&gt;
&lt;h2 class="govuk-heading-m"&gt;Enforcement procedure&lt;/h2&gt;
&lt;p class="govuk-body"&gt;The Equality and Human Rights Commission (EHRC) is
  responsible for enforcing the Public Sector Bodies (Websites and Mobile
  Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility
  regulations'). If you're not happy with how we respond to your complaint,
  &lt;a rel="noopner noreferrer" href="https://www.equalityadvisoryservice.com/" target="_blank"&gt;
      contact the Equality Advisory and Support Service (opens in a new tab)&lt;/a&gt;.
  &lt;/p&gt;
&lt;h2 class="govuk-heading-m"&gt;Technical information about this website's
    accessibility&lt;/h2&gt;
&lt;p class="govuk-body"&gt;The Department for Education is committed to making its
    websites accessible, in accordance with the Public Sector Bodies (Websites
    and Mobile Applications) (No. 2) Accessibility Regulations 2018.&lt;/p&gt;
&lt;h2 class="govuk-heading-m"&gt;Compliance status&lt;/h2&gt;
&lt;p class="govuk-body"&gt;This website is partially compliant with the
  WCAG (Web Content Accessibility Guidelines) version 2.1
  AA standard, due to the following non-compliances (and/or) the following
  exemptions.&lt;/p&gt;
&lt;h3&gt;Non-accessible content&lt;/h3&gt;
&lt;p class="govuk-body"&gt;The content is non-accessible for the following reason(s):
  &lt;/p&gt;
&lt;h4&gt;Non-compliance with the accessibility regulations&lt;/h4&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;[Some images don't contain alternative text to describe the image which
  does not meet &lt;a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html" target="_blank" rel="noopner noreferrer"&gt;
    WCAG version 2.1 AA - 1.1.1 Non-text Content&lt;/a&gt;]&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;Disproportionate burden&lt;/h4&gt;
&lt;p class="govuk-body"&gt;We have determined that there is disproportionate burden
  to meet all the requirements for the following reasons:&lt;/p&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;[Making improvements would exceed budget for the year and leave the
    department unable to do other work - and would not significantly improve
    things for disabled users.]&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;The content is not within the scope of the accessibility regulations&lt;/h4&gt;
&lt;ul class="govuk-list"&gt;
  &lt;li&gt;[PDFs or other documents published before 23 September 2018 are out of
  scope of the regulations.]&lt;/li&gt;
&lt;/ul&gt;
&lt;h2 class="govuk-heading-m"&gt;What we're doing to improve accessibility&lt;/h2&gt;
&lt;p class="govuk-body"&gt;[Explain what you're doing to improve accessibility]&lt;/p&gt;
&lt;h2 class="govuk-heading-m"&gt;Preparation of this accessibility statement&lt;/h2&gt;
&lt;p class="govuk-body"&gt;This statement was prepared on [date when it was first
  published]. It was last reviewed on [date when it was last reviewed].&lt;/p&gt;
&lt;p class="govuk-body"&gt;This website was last tested on [date]. The test was
  carried out by [add name of organisation that carried out test, or indicate
  that you did your own testing]&lt;/p&gt;
&lt;p class="govuk-body"&gt;We used this approach to deciding on a sample of pages to
  test [add link to explanation of how you decided which pages to test].&lt;/p&gt;
