{% set pageTitle = "Becoming an interaction designer" %}
{% set pageDescription = "Interaction designers design the way people use a product, in our case digital products, websites and services. An interaction designer should always aim to design the best experience possible." %}
{% set pageSection = "Professions" %}
{% set dateUpdated = "March 2023" %}
{% set backlog_issue_id = "47" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "professions/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

{% markdown %}

## What an interaction designer does:

  <p>Interaction designers are responsible for:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>exploring design solutions by mapping user journeys and creating prototypes</li>
    <li>test hypotheses and assumptions which address user needs, behaviours and pain points</li>
    <li>contribute into, and support, other disciplines and help to shape direction</li>
  </ul>

### Interaction designers do not:

  <ul class="govuk-list govuk-list--bullet">
    <li>build fully functional services</li>
    <li>write production quality code and are not expected to</li>
</ul>

<p>Prototypes are design artefacts, not an exact representation of the fully developed service. Prototypes should only be built to test solutions to user's needs.</p>

## Expectations of interaction designers

<ul class="govuk-list govuk-list--bullet">
  <li>work to <a href="/design-system/branding-standards/">DfE branding standards</a> for digital services</li>
  <li>ensure that design is done in line with <a href="/accessibility/understanding-wcag/">accessibility guidelines</a></li>
  <li>collaborate and share work with other designers across DfE, not just within your portfolio</li>
  <li>collaborate and work alongside other professions</li>
  <li>reuse patterns and components and contribute to the <a href="https://github.com/orgs/alphagov/projects/43" target="_blank">GOV.UK Design System</a></li>
  <li>share <a href="/design-system/prototype-kit">prototypes</a> and journey maps</li>
  <li>contribute and write <a href="/assurance/design-histories">design histories</a> detailing decisions to change a service</li>
  <li>take part in design reviews and design critiques</li>
  <li>use our agreed design tools, Lucid and Figma</li>
</ul>

If you want to retrain to become an interaction designer, there are several steps you can take:

## Evaluate your current skills

Before embarking on a new career path, it's important to assess your current skills and identify areas where you may need to improve. Interaction design requires a combination of design, technical, and interpersonal skills, so you may need to develop skills in these areas.

You can read the <a href="https://www.gov.uk/guidance/interaction-designer" target="_blank">skills expected of an interaction designer</a> within the <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework" target="_blank">Digital, Data and Technology Profession Capability Framework</a>. 

## Research the profession

Learn as much as you can about interaction design and the roles and responsibilities of an interaction designer. Read books, articles, and blogs about the subject and attend conferences or meetups to learn from professionals in the profession. You can find more in the <a href="https://www.gov.uk/service-manual/communities/design-community" target="_blank">cross-government design community</a>

<ul class="govuk-list">
    <li><a target="_blank" href="https://designnotes.blog.gov.uk/2022/03/25/a-day-in-the-life-of-an-interaction-designer-at-gds/">A day in the life of an interaction designer at GDS</a></li>
     <li><a target="_blank" href="https://www.youtube.com/c/ukgovdesign">UK Gov Design YouTube channel</a></li>
     <li><a target="_blank" href="https://designnotes.blog.gov.uk/">Design in government blog</a></li>
     <li><a target="_blank" href="https://www.nngroup.com/">Nielsen Norman Group</a></li>
</ul>

## Learn and understand UX laws and principles

Interaction design is underpinned by user experience (UX) laws and usability principles. These are designed around how people use websites and services. 

<ul class="govuk-list">
  <li>
    <a href="https://www.gov.uk/guidance/government-design-principles" target="_blank">The 10 Government Design Principles</a>
  </li>
  <li>
    <a href="https://lawsofux.com/" target="_blank">Laws of UX</a>
  </li>
</ul>


## Learn to use UX design tools and software

Practice using UX tools of the trade, what you can do with them. The tools we use for UX design in the Department for Education are:

<ul class="govuk-list">
    <li><a target="_blank" href="https://www.figma.com/">Figma</a></li>
     <li><a target="_blank" href="https://lucid.app/">Lucid</a></li>
</ul>

Other industry-related tools are:

<ul class="govuk-list">
    <li><a target="_blank" href="https://www.sketch.com/">Sketch</a></li>
     <li><a target="_blank" href="https://helpx.adobe.com/support/xd.html">Adobe XD</a></li>
</ul>

## Take courses or enroll in a program

Consider taking courses or enrolling in a program that offers training in interaction design. Many universities and design schools offer courses or programs in UX/UI design or human-computer interaction.

### Courses and training

<ul class="govuk-list">
    <li><a target="_blank" href="https://www.interaction-design.org/courses">Interaction Design Foundation courses</a></li>
     <li><a target="_blank" href="https://www.hyperisland.com/online-courses">Hyper Island</a></li>
     <li><a target="_blank" href="https://www.pluralsight.com/courses/getting-started-ux-design">Pluralsight UX Design</a></li>
</ul>

## Build a portfolio

A portfolio is essential for showcasing your skills and experience which you will be expected to talk about in interviews. Create a portfolio that demonstrates your ability to solve design problems, think creatively, and create effective designs.

## Look for roles or shadow designers

As you gain skills and experience, look for opportunities to work on design projects. This can help you gain practical experience and make connections in the profession.

You can ask to shadow designers across the department who are working on services. If you want to find out more, <a href="mailto:andy.jones@education.gov.uk?Subject=Career progression - Shadowing design">get in contact with the Head of Design Profession, Andy Jones</a>.

You can read our <a href="https://dfe-digital.github.io/dfe-job-descriptions/interaction_design/index.html" target="_blank">interaction design job descriptions</a> for more information about skills and responsibilities.

Remember, becoming an interaction designer takes time and effort, but with dedication and perseverance, you can successfully retrain and transition into this profession.

{% endmarkdown%}

{% endblock %}