{% set pageTitle = "Patterns" %}
{% set pageDescription = "Patterns are best practice design solutions to a common user need. You can reuse them across Department for Education services to make them more consistent." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Design" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "26" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>The patterns in this section have been designed, built, tested, and implemented across several Department for Education services.</p>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Current patterns</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Pattern</th>
      <th scope="col" class="govuk-table__header">Summary</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/design-system/patterns/select-a-school">Select a school</a></th>
      <td class="govuk-table__cell">A pattern for selecting a school from the list of all schools in England.</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Published</strong></td>
    </tr>
  </tbody>
</table>

  <p>If you have a pattern you want to contribute, <a href="/design-ops/">contact the design ops team</a>.</p>


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
