{% set pageTitle = "Audits" %}
{% set pageDescription = "Getting an accessibility audit can help independently assure conformance to accessibility standards." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "21" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% markdown %}

  <h2 class="govuk-heading-m">Testing and templates</h2>

  <p>You should have your service audited by a professional accessibility auditor, like the internal <a href="mailto:Accessibility.SUPPORT@education.gov.uk">DfE accessibility team</a>, or an <a href="https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/digital-outcomes-and-specialists-5/requirements/digital-outcomes" target="_blank">external audit provider</a>. </p>

  <p>Before you send the service to them to review, you can find common issues by <a href="https://gist.github.com/tvararu/8752e3ec5446bfafa9224db958b48e79" target="_blank">using this Trello template</a>.</p>

  <p>You can also use the <a href="/assets/wcag-checklist-december-2022.xlsx">spreadsheet to test against the full WCAG guidelines</a> as a checklist.</p>

  <h2 class="govuk-heading-m">Prepare a requirements brief for an audit using WCAG-EM</h2>

  <p>Audit requirements and reporting should aim to be done in line with <a href="https://www.w3.org/TR/WCAG-EM/" target="_blank">Website Accessibility Conformance Evaluation Methodology (WCAG-EM)</a>.</p>

  <p>You'll need to write a brief so potential suppliers know what you need from them. In your brief, include:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the name of your service or website and a description of what it is - it's helpful to include some screenshots and URLs</li>
    <li>who your users are</li>
    <li>which user journeys, tasks, patterns or page types you'd like the auditor to look at - it's helpful to provide a list of components in your pattern library</li>
    <li>your timescale for the audit - allow enough time for bug fixes before you move on to the next stage of user testing</li>
    <li>which <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies#what-to-test" target="_blank">assistive technology and browser combinations</a> you want the auditor to test with, if that's something you've asked for</li>
    <li>whether you're aiming for WCAG 2.1 level AA or level AAA compliance</li>
    <li>who will read the audit report - for example, product managers or developers</li>
    <li>how much support you want - it's a good idea to get support from the start and ongoing support after the audit</li>
    <li>whether you'll need help fixing any issues identified in the audit</li>
  </ul>

  <p>You should also tell potential suppliers:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>where you are in your development cycle</li>
    <li>if you want to attend any of the testing and the dates you could attend</li>
    <li>if any part of your service was built by a third party</li>
  </ul>

  {% endmarkdown %}

{% endblock %}