{% set pageTitle = "Audits" %}
{% set pageDescription = "Getting an accessibility audit can help independently assure conformance to accessibility standards." %}
{% set pageSection = "Accessibility" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "21" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

  {% markdown %}

  <h2 class="govuk-heading-m">Testing and templates</h2>

  <p>You should have your service audited by a professional accessibility auditor, like the internal <a href="mailto:Accessibility.SUPPORT@education.gov.uk">DfE accessibility team</a>, or an <a href="https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/digital-outcomes-and-specialists-5/requirements/digital-outcomes" target="_blank">external audit provider</a>. </p>

  <p>Before you send the service to them to review, you can find common issues by <a href="https://gist.github.com/tvararu/8752e3ec5446bfafa9224db958b48e79" target="_blank">using this Trello template</a>.</p>

  <p>You can also use the <a href="/assets/wcag-checklist-december-2022.xlsx">spreadsheet to test against the full WCAG guidelines</a> as a checklist.</p>

  <h2 class="govuk-heading-m">Prepare a requirements brief for an audit using WCAG-EM</h2>

  <p>Audit requirements and reporting should be completed in line with <a href="/accessibility/evaluation-methodology">Website Accessibility Conformance Evaluation Methodology (WCAG-EM)</a>.</p>

  <p>You can use the <a href="/accessibility/evaluation-methodology#audit-template">template on the evaluation methodology page</a> to give to auditors outlining the testing requirements. As this is a standard evaulation and reporting approach, they should be familiar with the approach.</p>


  <p>You should also tell potential suppliers:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>where you are in your development cycle</li>
    <li>if you want to attend any of the testing and the dates you could attend</li>
    <li>if any part of your service was built by a third party</li>
  </ul>

  {% endmarkdown %}

{% endblock %}