{% from 'tag/macro.njk' import tag %}

<table class="dfeuk-table">
  <thead class="dfeuk-table__head">
    <tr class="dfeuk-table__row">
      <th class="dfeuk-table__header" scope="col"> Class name </th>
      <th class="dfeuk-table__header" scope="col"> Tag </th>
    </tr>
  </thead>
  <tbody class="dfeuk-table__body">
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--white </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Started",
          classes: "dfeuk-tag--white"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--grey </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Not started",
          classes: "dfeuk-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--green </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "New",
          classes: "dfeuk-tag--green"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--aqua-green </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Active",
          classes: "dfeuk-tag--aqua-green"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--blue </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Pending",
          classes: "dfeuk-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--purple </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Received",
          classes: "dfeuk-tag--purple"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--pink </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Sent",
          classes: "dfeuk-tag--pink"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--red </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Rejected",
          classes: "dfeuk-tag--red"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--orange </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Declined",
          classes: "dfeuk-tag--orange"
        })}}
      </td>
    </tr>
    <tr class="dfeuk-table__row">
      <td class="dfeuk-table__cell">
        <code> dfeuk-tag--yellow </code>
      </td>
      <td class="dfeuk-table__cell">
        {{ tag({
          text: "Delayed",
          classes: "dfeuk-tag--yellow"
        })}}
      </td>
    </tr>
  </tbody>
</table>
