{% set pageTitle = "Styles" %}
{% set pageDescription = "How to make sure your services uses the correct styles." %}
{% set pageSection = "Design System" %}
{% set subSection = "Styles" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

  <p>You must follow <a href="/design-system/branding-standards/">branding standards</a> so that our services do not confuse users.</p>


  <h2 class="govuk-heading-l">Installing DfE Frontend</h2>

  <h3 class="govuk-heading-m">Using DfE frontend in prototypes</h2>

  <p>If you are using the <a href="/design-system/prototype-kit/">GOV.UK prototype kit</a> you can include the DfE-service-frontend library in your build and use the styles, components and patterns in your prototypes.</p>

  <p>To make use of the styles, components and patterns in your service, you should include the </p>

{% endblock %}