<h3 class="dfeuk-heading-m">Full</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-full" id="full-name" name="full-name" type="text">
</div>

<h3 class="dfeuk-heading-m">Three-quarters</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-three-quarters" id="full-name" name="full-name" type="text">
</div>

<h3 class="dfeuk-heading-m">Two-thirds</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-two-thirds" id="full-name" name="full-name" type="text">
</div>

<h3 class="dfeuk-heading-m">One-half</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-one-half" id="full-name" name="full-name" type="text">
</div>

<h3 class="dfeuk-heading-m">One-third</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-one-third" id="full-name" name="full-name" type="text">
</div>

<h3 class="dfeuk-heading-m">One-quarter</h3>

<div class="dfeuk-form-group">
  <label class="dfeuk-label" for="full-name">
    Full name
  </label>
  <input class="dfeuk-input dfeuk-u-width-one-quarter" id="full-name" name="full-name" type="text">
</div>
