{% set pageTitle = "DfE Frontend API" %}
{% set pageDescription = "API documentation for DfE Frontend." %}
{% set pageSection = "Design system" %}

{% extends "includes/app-layout.njk" %}

<div class="app-index-navigation app-u-hide-desktop">
  {% include "includes/_side-nav.njk" %}
</div>

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>


{% endblock %}