{% set pageTitle = "Contribute to the DfE Design System" %}
{% set pageDescription = "How to contribute to the DfE Design System." %}
{% set pageSection = "Design System" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %} 

<div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% block bodyContent %}


{% endblock %}
