{% set pageTitle = "Propose a component or pattern" %}
{% set pageDescription = "Anyone can propose a new component or pattern for the DfE Design System." %}
{% set pageSection = "Design" %}
{% set landingPage = true %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "57" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

    <p>To be included in the DfE Design System, a pattern or component should:</p>
    <ul class="govuk-list gov-uk-list">
        <ul>
            <li>either be currently used or potentially useful to multiple DfE services</li>
            <li>meet a known user need</li>
            <li>not be part of the GOV.UK Design System or on the roadmap for development</li>
        </ul>

    <p>You should also check if someone else has already suggested your idea or something similar on the <a href ="https://github.com/orgs/DFE-Digital/projects/22/views/13">Github backlog</a>.</p> 

 <h2 class="govuk-heading-m">Add a ticket</h2>   
    <p>If your idea is not on the list, and meets our guidance for the DfE Design System, add a ticket. You can add to either the <a href ="https://github.com/orgs/DFE-Digital/projects/22/views/13">Github backlog</a> or <a href="https://trello.com/invite/b/spu5Mg7D/ATTIc87c4be1790962d265422d24ee366598BD7012BD/submit-a-pattern-or-component">the components and patterns Trello</a>. If you submit a component or pattern to Trello, it will automatically appear on the Github backlog. </p>

<h2 class="govuk-heading-m">What to include</h2>   
    <p>At this stage, you just need to present your idea and evidence of the user needs. You can include screenshots or links to versions of the component or pattern in use, but avoid spending time working on a specific design or writing code.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p>The Components and patterns working group will discuss your proposal. If they think it is something that should be added to DfE design system, they will publish it. </p>

<h2 class="govuk-heading-m">More information</h2>
<p>If you’ve got a question about the DfE Design System, <a href="/design-ops/contact">contact the Design Ops team</a>.</p>

{% endblock %}