{% set pageTitle = "Propose a component or pattern" %}
{% set pageDescription = "Anyone can propose a new component or pattern for the DfE Design System." %}
{% set pageSection = "Design system" %}
{% set landingPage = true %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "57" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

    <p>Proposals need to show that the component or pattern being suggested would be useful and unique.</p>

    <p>Follow the steps to propose a component or pattern for the Design System.</p>

    <ol class="govuk-list govuk-list--number">
        <li>
            <p>Check the list of issues on GitHub</p>
            <p>Check if someone else has already suggested your idea or something similar on the <a href="https://github.com/DFE-Digital/ucd-manual/issues" target="_blank">list of issues on GitHub</a>.</p>
        </li>

        <li>
            <p>Raise an issue</p>
            <p>If your idea is not on the list, <a href="https://github.com/DFE-Digital/ucd-manual/issues/new/choose" target="_blank">raise an issue</a>. A member of the DesignOps team will review your proposal.</p>
            <p>At this stage, you just need to present your idea and evidence of the user needs. You can include screenshots or links to versions of the component or pattern in use, but avoid spending time working on a specific design or writing code.</p>

        </li>
    </ol>


<h2 class="govuk-heading-m">Need help?</h2>
<p>If you’ve got a question about the DfE Design System, <a href="/design-ops/contact">contact the DesignOps team</a>.</p>

{% endblock %}