{% set pageTitle = "Assurance" %}
{% set pageDescription = "DfE-specific standards all teams delivering DfE services must meet. These standards will be assessed at DfE Service Assessments." %}
{% set pageSection = "Standards" %}
{% set subSection = "Standards" %}
{% set theme = "Standards" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

{% endmarkdown %}



{% endblock %}
