{% set pageTitle = "DfE standards" %}
{% set pageDescription = "DfE Standards are in addition to the <a href='gov-service-standards'>GOV Service Standards</a>. which all teams must meet." %}
{% set pageSection = "Standards" %}
{% set subSection = "Standards" %}
{% set theme = "Standards" %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

## Standards

You can download the full list of DfE Standards as a [Google Document]() or [Word Document]().

<div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">General Design Standards</h3>
    <p>All services must meet these general design standards.</p>
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Other possible causes of your symptoms</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
          Reference
        </th>
        <th role="columnheader" class="" scope="col">
          Measure
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/standards/branding">DFE-G1</a></td>
              <td class="nhsuk-table__cell ">Ensure the service has the correct branding and typeface for the domain it is hosted on.
              <br/><br/>Assessed at: {{ tag({
          text: "Beta",
          classes: "nhsuk-tag--blue"
        })}}</td>      </tr>
    
    </tbody>
  </table>
</div>

<div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">User research Standards</h3>
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Other possible causes of your symptoms</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
          Reference
        </th>
        <th role="columnheader" class="" scope="col">
          Measure
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/standards/education-domain">DFE-UR1</a></td>
              <td class="nhsuk-table__cell ">User needs, insight and evidence has been shared into the DfE User Research Library
               <br/><br/>Assessed at: {{ tag({
          text: "Discovery",
          classes: "nhsuk-tag--blue"
        })}}{{ tag({
          text: "Alpha",
          classes: "nhsuk-tag--blue"
        })}}{{ tag({
          text: "Beta",
          classes: "nhsuk-tag--blue"
        })}}</td>
            </tr>
    
    </tbody>
  </table>
</div>

<div class="nhsuk-table__panel-with-heading-tab">
    <h3 class="nhsuk-table__heading-tab">Accessibility Standards</h3>
    <p>These standards must be met and will be assesed at private and public beta assessments only.</p>
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Other possible causes of your symptoms</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
          Reference
        </th>
        <th role="columnheader" class="" scope="col">
          Measure
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/standards/education-domain">DFE-A1</a></td>
              <td class="nhsuk-table__cell ">Accessibility audit completed and provided prior to assessment.<br/><br/>Assessed at: {{ tag({
          text: "Beta",
          classes: "nhsuk-tag--blue"
        })}}</td>
      </tr>
         <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/standards/education-domain">DFE-A2</a></td>
              <td class="nhsuk-table__cell ">Accessibility statement is published on the service and is factually correct.<br/><br/>Assessed at: {{ tag({
          text: "Beta",
          classes: "nhsuk-tag--blue"
        })}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endmarkdown %}


{% endblock %}
