{% set pageTitle = "Content guidelines" %}
{% set pageDescription = "How to create clear and consistent content for digital DfE services and guidance." %}
{% set pageSection = "Content guidelines" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "33" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

{% markdown %}
<h2 class="govuk-heading-m" id="start-with-govuk-design-system">How we work</h2>

We follow the <a href="https://www.gov.uk/service-manual/service-standard" target="_blank">GOV.UK Service Standard (opens in a new tab)</a>. 

Content designers work closely with other <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#user-centred-design-job-family">user-centred design professions</a> to meet these Standards. This includes user research, service and interaction design, business analysts and developers. 


<h2 class="govuk-heading-m" id="start-with-govuk-design-system">How we meet the Service Standard</h2>

As a content design profession, we agree to:

- evidence and document how we make design decisions <a href="https://www.gov.uk/guidance/content-design/research-and-evidence" target="_blank">tools and evidence to back up content design decisions (opens in new tab)</a> 
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction" target="_blank">ensure content is accessible (opens in new tab)</a> 
- use the appropriate style and brand guide for the service or website 
- have a process in place to preview prior to publishing, such as a 2i, quality check and sign off content
- work to a strategy, and publish <a href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition" target="_blank">a proposition statement, example for GOV.UK (opens in new tab)</a>, where appropriate
- test with users through user research and by building prototypes
- work in collaboration with our user-centred design and policy colleagues to understand problems and create solutions
- always develop content that meets user needs
- set performance measures and monitor content against these measures <a href="https://www.gov.uk/service-manual/measuring-success" target="_blank">measuring success (opens in new tab)</a>
- have a plan in place to continuously iterate and improve
- work to the <a href="https://www.gov.uk/service-manual" target="_blank">service manual standards (opens in new tab)</a>
- work to the <a href="https://www.gov.uk/government/publications/govuk-proposition" target="_blank">GOV.UK proposition (opens in new tab)</a>, where applicable


 <h2 class="govuk-heading-m" id="start-with-govuk-design-system">We follow government guidance </h2> 

As a starting point, we use:

- <a href="https://www.gov.uk/government/organisations/government-digital-service/about" target="_blank">Government Digital Service (GDS) (opens in new tab)</a> <p> Build platforms, products and services for government</p>
- <a href="https://www.gov.uk/government/organisations/central-digital-and-data-office/about" target="_blank">Central Digital & Data Office (opens in new tab)</a> <p> Manage standards and service assessments for government. This includes the digital, data and technology function (DDaT) framework</p>
- <a href="https://www.gov.uk/guidance/style-guide" target="_blank">GDS style guide (opens in new tab)</a> <p> GDS style guide cover style points for content </p>
- <a href="https://www.gov.uk/topic/government-digital-guidance/content-publishing" target="_blank">GDS content and publishing guidance (opens in new tab)</a> <p> Guidance for government digital publishing services </p>
- <a href="https://www.gov.uk/service-manual" target="_blank">GDS Service Manual (opens in new tab)</a> <p> Helps teams to create great public services that meet the Service Standard</p>

<h2 class="govuk-heading-m" id="start-with-govuk-design-system">We also follow DfE guidance </h2>

We use DfE specific guidance when considering things like tone of voice, specific styles and how to publish in DfE.

Some of the following guidance links go to the DfE intranet. If you do not have access to DfE intranet, ask a colleague with access to get the information for you.

<a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications.aspx" target="_blank">How to communicate (opens intranet in new tab)</a> explains how we communicate, it includes:

- working with strategic and digital communications teams
- brand guidelines, including guidance on images and videos and document templates
- DfE style guide
- how to publish on GOV.UK
- how to produce content for different channels, such as our blogs or presentation for internal and external use
- <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-make-your-content-accessible.aspx" target="_blank">make your content accessible (opens intranet in new tab)</a>

We use the <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-dfe-govuk-content-strategy.aspx" target="_blank">DfE content strategy (opens intranet in new tab)</a> template, which should form the basis of individual product and service strategies.

{% endmarkdown %}
{% endblock %}

