{% set pageTitle = "Joining user journeys between GOV.UK and digital services" %}
{% set pageDescription = "To ensure a joined up journey for users between GOV.UK and DfE digital services, content designers work closely with the Digital Communications Team (DCT)." %}
{% set pageSection = "Content guidelines" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "31" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "content-guidelines/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>
{% markdown %}

## Designing content for GOV.UK

The DCT create, publish and manage DfE's content on GOV.UK.

When working with the DCT on DfE digital services, content designers:

- must work with <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">the DCT (opens intranet page in new tab)</a> on any GOV.UK content. If you do not have access to the DfE intranet, ask a colleague with access to get the information for you
- must prototype a version of any content as a minimum viable product (MVP) for non-transactional services on GOV.UK using <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/introduction-and-access-to-whitehall-publisher" target="_blank">Whitehall publisher (opens in new tab)</a>, the GOV.UK content management system
- should map out journeys for services to show a user's journey

Working in this way is part of how DfE content designers meet <a href="https://www.gov.uk/service-manual/service-standard/point-3-join-up-across-channels" target="_blank">point 3 of the Service Standard to provide a joined up experience across all channels (opens in new tab)</a>.

### Request a Whitehall publisher account 

You will need a Whitehall publisher account to publish content on GOV.UK.

You can request access to Whitehall publisher training or accounts by <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/security-assurance.aspx" target="_blank">raising a request with DCT (opens intranet page in new tab)</a>. If you're a contractor you should ask a civil servant to make this request for you.

## Providing a joined up experience across all channels

GOV.UK is a central publishing platform with services attached to it. Most users start their journey by reading some information before entering into a digital service. Content designers working on different parts of a journey should think about joined up services as users understand them, instead of as isolated transactions.

At DfE, DCT content designers generally work on GOV.UK content. Content designers working on a digital service that joins up to GOV.UK should work with DCT.

DCT use Whitehall publisher to manage DfE's GOV.UK content. Other DfE content designers may be given access to Whitehall but they should follow the <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-dfe-govuk-content-strategy.aspx" target="_blank">DfE GOV.UK content management process (opens intranet page in new tab)</a> and work with them to publish any GOV.UK content.

### Examples of joined up journeys between GOV.UK guidance and digital services

- GOV.UK guidance for <a href="https://www.gov.uk/government/collections/get-help-with-technology-for-remote-education" target="_blank">Get help with technology for remote education (opens in new tab)</a> and the digital service <a href="https://www.gov.uk/government/collections/get-help-with-technology-for-remote-education" target="_blank">Get help with technology (opens in new tab)</a>
- GOV.UK guidance for understanding <a href="https://www.gov.uk/government/publications/changes-to-the-early-years-foundation-stage-eyfs-framework/changes-to-the-early-years-foundation-stage-eyfs-framework" target="_blank">Changes to the early years foundation stage (EYFS) framework (opens in new tab)</a> and the digital information service <a href="https://help-for-early-years-providers.education.gov.uk/" target="_blank">Help for early years providers (opens in new tab)</a>

### Prototype non-transactional services using Whitehall

If you're working on a non-transactional service at DfE, you must prototype a version of this on GOV.UK using Whitehall publisher. You must work with DCT when you do this.

GOV.UK defines a non-transactional service as something that allows users to either:

- exchange information, money, permission, goods or services
- submit personal information that results in a change of government record

### Map out your service journeys

You should map out journeys so that you understand a user's navigation through a service, including which interactions happen outside of the service as part of completing a journey.

A service journey map creates a timeline of the user's touchpoints. They're useful for understanding where a user interacts with content and the different elements of a service that the content needs to be consistent with.

Mapping out journeys helps you understand the user's steps and helps to create a consistent and smooth user journey between GOV.UK guidance and a digital service.

Even if you're not using GOV.UK to create a digital service, you should try to include any GOV.UK guidance content that supports the service as part of user testing.

Read about <a href="https://designnotes.blog.gov.uk/2016/03/30/why-we-use-user-journey-maps-in-government/" target="_blank">why we use journey maps in government (opens in new tab)</a>.

There are different methods for creating user journey maps, read about <a href="https://designnotes.blog.gov.uk/2016/04/21/how-to-make-a-user-journey-map/" target="_blank">how to make a user journey map (opens in new tab)</a>.

## Work with DCT on GOV.UK content

You must work with DCT on any content planned for GOV.UK. If you've been given access to a Whitehall account, you'll usually be able to buddy up with a DCT content designer to support you through to publishing.

If you've not been given a buddy, you should still be able to work with DCT by:

- getting an induction from DCT
- getting a 2i check from a DCT content designer before publishing
- getting the right clearances

### Buddy up on GOV.UK journeys

Buddying up is where a DCT content designer supports a DfE content designer through DCT publishing processes and collaborates on content design decisions. 

Buddying up should be done when content designers are:

- working on content that's planned to go on GOV.UK 
- testing content in Whitehall as part of checking whether an information service should be built that does not sit on GOV.UK

### Get an induction from DCT if you're using Whitehall

Get an induction from DCT if you've been given a Whitehall publisher account to work on GOV.UK content to get an overview of DfE processes for GOV.UK content, including 2i checks and clearances.

### Get a 2i from DCT

Before it's published, all GOV.UK content needs to be checked by a DCT content designer to make sure it's accessible and follows the GOV.UK style guide. 

A 2i is a where a DCT content designer reviews the final draft of content in-line with the <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/reviewing-and-approving-content" target="_blank">GOV.UK 2i checklist (opens in new tab)</a> prior to publishing.

A 2i is different to a peer review. Peer reviews can be done at any stage of the drafting process. Content which will be published on GOV.UK should be peer reviewed by a content designer from the DCT.

### Get the right clearances

DfE has strict clearance requirements for all GOV.UK publishing. This usually involves clearance from a Deputy Director (DD) and for high profile content, from strategic communications at DfE.

You may need to agree a publication date for certain content. This is to ensure the planning team know when the content will be published and if there are likely to be communication implications, such as media interest or questions.

Find out more on the intranet about <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">DfE clearance processes for GOV.UK content (opens intranet page in new tab)</a>. If you do not have access to the DfE intranet, ask a colleague with access to get the information for you.

DCT will publish the content to GOV.UK after 2i checks have been completed and clearances have been confirmed.

## Before you make a request for Whitehall publisher

Make sure you've spoken to DCT so they can help you decide if a request should be made and what kind of access is needed.

Content designers need to complete GDS training to use Whitehall. To ask for training, <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">submit a request (opens intranet page in new tab)</a>. If you do not have access to the DfE intranet, ask a colleague with access to submit a request for you.

### Other uses of Whitehall

Whitehall accounts also give individuals access to Integration, the test version of GOV.UK that can be used to prototype content. There are other ways to prototype content, so a Whitehall account cannot be given out just for this use.

To look at data and insight about GOV.UK you can request access to GOV.UK Sign-on. It's different to a Whitehall publisher account but it still gives you access to:

- content data - for analytics about GOV.UK 
- feedex data - for user comments on content
{% endmarkdown %}
{% endblock %}