{% set pageTitle = "Language we use" %}
{% set pageDescription = "Terms, words or phrases we use in the department." %}
{% set pageSection = "Content guidelines" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "30" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "content-guidelines/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

<ul class="dfeuk-letters govuk-!-margin-top-3">
    
    <li><a href="#a">A</a></li> 
    
    <li><a href="#b">B</a></li> 
    
    <li><a href="#c">C</a></li> 
    
    <li><a href="#d">D</a></li> 
    
    <li><a href="#e">E</a></li> 
    
    <li><a href="#f">F</a></li> 
    
    <li><a href="#g">G</a></li> 
    
    <li><a href="#h">H</a></li> 
    
    <li><a href="#i">I</a></li> 
    
    <li><a href="#j">J</a></li> 
    
    <li><a href="#k">K</a></li> 
    
    <li><a href="#l">L</a></li> 
    
    <li><a href="#m">M</a></li> 
    
    <li><a href="#n">N</a></li> 
    
    <li><a href="#o">O</a></li> 
    
    <li><a href="#p">P</a></li> 
    
    <li><a href="#q">Q</a></li> 
    
    <li><a href="#r">R</a></li> 
    
    <li><a href="#s">S</a></li> 
    
    <li><a href="#t">T</a></li> 
    
    <li><a href="#u">U</a></li> 
    
    <li><a href="#v">V</a></li> 
    
    <li><a href="#w">W</a></li> 

     <li><a href="#x">X</a></li> 

    <li><a href="#y">Y</a></li> 

    <li><a href="#z">Z</a></li> 
    
</ul>



{% markdown %}


## A


### Agile

Agile is a project management methodology which focuses on delivering value and outcomes to users quicker than traditional [waterfall](#waterfall) approaches.

Instead of delivering everything in one go, features are delivered iterativley by teams working on focused tasks to deliver an outcome. 

<a href="https://agilemanifesto.org/" target="_blank">Read the Agile Manifesto (opens in new tab)</a>

<a href="https://www.gov.uk/service-manual/agile-delivery" target="_blank">Agile delivery on GOV.UK Service Manual (opens in new tab)</a>

### Alpha

A phase in the delivery lifecycle which is after [discovery](#discovery) and before [beta](#beta).

In the alpha phase, you're expected to test your riskiest assumptions, build prototypes, try different solutions to solve your problems to meet you user needs.

You may also have a [service assessment](#service-assessment) before the end of your alpha phase.

## B

### Beta

A phase in the delivery lifecycle which is after [alpha](#alpha) and before [live](#live).

Beta may be split into [private beta](#private-beta) and [public beta](#public-beta).

## C

## D

### Discovery

A phase in the delivery lifecycle which is the first phase and before [alpha](#alpha).

## E

## F

## G

## H

## I

## J

## K

## L

### Live

A phase in the delivery lifecycle which is the final phase and after [beta](#beta).

## M

### MVP

MVP is an acronym for Minimum Viable Product. This is used to describe a service with meets the minimum requirements of a [user need](#user-need). 

It is often used to describe the first release or iteration of a service. 

## N

## O

## P

### Private beta

A phase in [beta](#beta) where testing of a service is carried out with a closed group of users.

This allows service teams to work with the users to better understand any problems and get targeted feedback. It also allows teams to understand service performance without being overwhelmed with users.

### Public beta

A phase in [beta](#beta) where testing of a service is unrestricted to users. 

## Q

## R

## S

## T

## U

### User need

User needs are the needs that a user has of a service, and which that service must satisfy for the user to get the right outcome for them.

<a href="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs" target="_blank">Lean about users and their needs (opens in new tab)</a>


## V

## W

## X

## Y

## Z


{% endmarkdown %}
{% endblock %}