{% set pageTitle = "Publishing content on GOV.UK" %}
{% set pageDescription = "DfE's GOV.UK content is managed by the Digital Communication Team (DCT)." %}
{% set pageSection = "Content guidelines" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "32" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "content-guidelines/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}
{% markdown %}
## Work with DCT on GOV.UK content

Contact DCT if you:

- need to update GOV.UK content or add a start page as part of your service
- are going to request a GOV.UK exemption or campaign site from the Government Digital Service (GDS)
- have identified a user need for an information (non-transactional) service

You can find out <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">how to contact and work with DCT (opens intranet page in new tab)</a> on the DfE intranet. If you do not have access to the IT Service Portal, ask a civil servant to raise the ticket for you. You can be added to the ticket after it has been raised.

## Creating new information services

If you identify a user need for an information (non-transactional) service, <a href="https://dfe.service-now.com/serviceportal?id=sc_cat_item&sys_id=9c58f38ddb14fa005ca2fddabf9619a3&sysparm_category=611828a6db6c2f403b929334ca9619f6" target="_blank">raise an advice ticket on the IT Service Portal first (opens intranet page in new tab)</a>, to discuss if this need can be met on GOV.UK. If you do not have access to the IT Service Portal, ask a civil servant to raise the ticket for you. You can be added to the ticket after it has been raised.

## Campaign sites

Campaign sites usually act as a landing page for other communication activity. They can carry images and branding and allow you to direct people to guidance on GOV.UK and elsewhere. 

Contact Clare Arolker at <a href="mailto:Clare.Arolkner@education.gov.uk">Clare.Arolker@education.gov.uk</a> or Indira Periera-Lopes at <a href="mailto:Indira.Periera-Lopes@education.gov.uk">Indira.Periera-Lopes@education.gov.uk</a> if you think that a <a href="https://www.gov.uk/guidance/content-design/campaigns-on-gov-uk-standards-and-guidelines" target="_blank">single page campaign site (opens in new tab)</a> will best meet your user's needs.

For campaign sites, DCT will:

- provide advice and guidance on your application
- submit your request to GDS
- give 'Head of Digital' approval, this is provided by Owen Roffe as this is a communications lead product rather than a digital service

## Requesting GOV.UK website and domain exemptions

All requests for <a href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition#govuk-exemptions" target="_blank">GOV.UK website and domain exemptions (opens in new tab)</a> should be reviewed by DCT before being submitted to GDS.

Contact Clare Arolker at <a href="mailto:Clare.Arolkner@education.gov.uk">Clare.Arolker@education.gov.uk</a> or Indira Periera-Lopes at <a href="mailto:Indira.Periera-Lopes@education.gov.uk">Indira.Periera-Lopes@education.gov.uk</a> before submitting your application so that they have enough time to review it.

DCT reviews all applications so that:

- they're aware of ongoing projects
- GOV.UK has been properly considered before your request is submitted to GDS
- they can support you if you need to publish new content on GOV.UK as part of your exemption request

If you do not have access to the IT Service Portal, ask a civil servant to raise the ticket for you. You can be added to the ticket after it has been raised.

DCT can also support you if you need an exemption.
{% endmarkdown %}
{% endblock %}