{% extends "includes/design-example-wrapper-full-layout.njk" %}

{% from 'input/macro.njk' import input %}
{% from 'button/macro.njk' import button %}

{% block content %}
  <div class="dfeuk-grid-row">
    <div class="dfeuk-grid-column-two-thirds">

      {{ input({
        label: {
          text: "What is your NHS number?",
          classes: "dfeuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: "Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, <span class=\"dfeuk-u-nowrap\">485 777 3456</span>."
        },
        id: "nhs-number",
        name: "nhs-number",
        classes: "dfeuk-input--width-10",
        inputmode: "numeric"
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </div>
  </div>
{% endblock %}
