{% set pageTitle = "Themes" %}
{% set pageDescription = "The themes we're working on within the communities of practice in the Department for Education." %}
{% set pageSection = "Community" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "40" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "community/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
           {% include "includes/_side-nav.njk" %}
      </div>
  </details>
</div>
    <div class="dfeuk-expander-group">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 1 - Communities of practice
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>Developing what it means to have a community of practice for design professions.</p>
                <p>How we encourage people to join our communities and contribute.</p>
                <p>How we develop mature communities.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 2 - Objectives
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>What are our professional objectives across design and how we measure them consistently.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 3 - People
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>How we onboard new people joining design professions.</p>
                <p>How we develop peoples skills and capability.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander" id="career-pathways">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">Theme 4 - Career Pathways</span>
            </summary>
            <div class="dfeuk-details__text">
                <p>What does it look like to change profession within design or move into a design profession.</p>
                <p>Identifying skills and training opportunities.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 5 - Components
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>Creating a common component library for DfE specific components to reuse across services.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 6 - Patterns
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>Publishing the patterns in services that enable us to design consistent services for our users.</p>
                <p>Make it easy to find and use patterns and contribute research and insight on patterns.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 7 - Content Styles
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>The language we use in services is important. How do we ensure this is consisitent, easy to understand, and uses plain English.</p>
                <p>How do we ensure we explain complicated things easily, and in an accessible way.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 8 - Measuring Design
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>Recognise we need to understand how our services work for our users.</p>
                <p>Creating a base set of design metrics for all services to measure against.</p>
                <p>Demonstrate what good design looks like and share good practice.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 9 - Accessibility
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>How do we as a design profession ensure accessibility is at the core of everything we design.</p>
            </div>
        </details>

        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text">
        Theme 10 - Cross-government collaboration
      </span>
            </summary>
            <div class="dfeuk-details__text">
                <p>How we work with other departments and design teams outside of DfE.</p>
                <p>What we can do to support Services Week 2023.</p>
                <p>Getting involved in other design events such as Global Accessibility Awareness Day.</p>
            </div>
        </details>
    </div>

{% endblock %}
