{% set pageTitle = "Your cookie settings have been saved" %}
{% set pageDescription = "Your cookie settings have been saved. We'll save your settings for a year." %}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}
<nav class="dfeuk-breadcrumb" aria-label="Breadcrumb">
  <div class="dfeuk-width-container">
    <ol class="dfeuk-breadcrumb__list">
      <li class="dfeuk-breadcrumb__item"><a class="dfeuk-breadcrumb__link" href="/">Home</a></li>
      <li class="dfeuk-breadcrumb__item"><a class="dfeuk-breadcrumb__link" href="/cookie-policy">Cookie policy</a></li>
    </ol>
    <p class="dfeuk-breadcrumb__back"><a class="dfeuk-breadcrumb__backlink" href="/cookie-policy">Back to Cookie policy</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="dfeuk-grid-row">
  <div class="dfeuk-grid-column-full">

    <div class="dfeuk-u-reading-width">

      <h1>{{ pageTitle }}</h1>
      <p>We'll save your settings for a year.</p>
      <p>We'll ask you if you're still OK with us using cookies when either:</p>
      <ul>
        <li>it's been a year since you last saved your settings</li>
        <li>we add any new cookies or change the cookies we use</li>
      </ul>
      <p>You can also <a href="/cookie-policy">choose which cookies we use</a> at any time.</p>

    </div>

    <p class="dfeuk-body-s dfeuk-u-secondary-text-color dfeuk-u-margin-top-7 dfeuk-u-margin-bottom-0">Updated: January 2020</p>

  </div>
</div>
{% endblock %}
