{% set pageDescription = "A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services." %}
{% set pageLayout = "Homepage" %}
{% set pageTitle = "User-centred design in DfE"%}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

  <main id="maincontent" role="main">

    <section class="dfeuk-hero">
      <div class="dfeuk-width-container dfeuk-hero--border app-width-container">
        <div class="dfeuk-grid-row">
          <div class="dfeuk-grid-column-two-thirds">
            <div class="dfeuk-hero__wrapper app-hero__wrapper">
              <h1 class="dfeuk-u-margin-bottom-4">{{pageTitle}}</h1>
              <p class="dfeuk-body-l dfeuk-u-margin-bottom-1">{{pageDescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}