{% set pageDescription = "A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for users of Department for Education services." %}
{% set pageLayout = "Homepage" %}
{% set pageTitle = "User-centred design in DfE"%}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

  <main id="maincontent" role="main">

    <section class="dfeuk-hero">
      <div class="dfeuk-width-container dfeuk-hero--border app-width-container">
        <div class="dfeuk-grid-row">
          <div class="dfeuk-grid-column-two-thirds">
            <div class="dfeuk-hero__wrapper app-hero__wrapper">
              <h1 class="dfeuk-u-margin-bottom-4">{{pageTitle}}</h1>
              <p class="dfeuk-body-l dfeuk-u-margin-bottom-1">{{pageDescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="dfeuk-section">
    <div class="dfeuk-width-container app-width-container">
      <ul class="dfeuk-grid-row dfeuk-card-group">
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/accessibility/">Accessibility</a></h2>
              <p class="dfeuk-card__description">Ensure that DfE services work for everyone</p>
            </div>
          </div>
        </li>
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/design-system">Design system</a></h2>
              <p class="dfeuk-card__description">Build consistent, accessible user interfaces</p>
            </div>
          </div>
        </li>
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/content-guidelines">Content guidelines</a></h2>
              <p class="dfeuk-card__description">How to write for digital DfE services</p>
            </div>
          </div>
        </li>
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/assurance">Assurance</a></h2>
              <p class="dfeuk-card__description">Making sure you're working to good practices</p>
            </div>
          </div>
        </li>
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/community">Community</a></h2>
              <p class="dfeuk-card__description">Communities of Practice and professions in DfE</p>
            </div>
          </div>
        </li>
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
            <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m"><a href="/design-ops">Design Ops</a></h2>
              <p class="dfeuk-card__description">How the Design Operations team support design professions in DfE</p>
            </div>
          </div>
        </li>
      </ul>
      <hr class="dfeuk-u-margin-top-2 dfeuk-u-margin-bottom-6">
      <div class="dfeuk-grid-row">
        <div class="dfeuk-grid-column-two-thirds">

          <h2>Support</h2>
          <p>The manual is maintained by the <a href="/design-ops">Design Ops team</a>. If you've got a question or want to feedback, you can <a href="/design-ops/contact">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </section>


  </main>

{% endblock %}