{% set pageTitle = "We cannot find the page you’re looking for" %}
{% set hideDescription = true %}
{% set disableSearch = true %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <p>Please check the web address to make sure it was correct.</p>
  <p>You can also browse the <a href="/">homepage</a> or <a href="/search">search the manual</a> for the information you need.</p>
  <p>If you think this link is broken, please get in touch on the <a href="/slack">UCD contribute Slack workspace</a>.</p>

{% endblock %}
