{% set pageTitle = "We cannot find the page you’re looking for" %}
{% set hideDescription = true %}
{% set disableSearch = true %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

  <p>Please check the web address to make sure it was correct.</p>
  <p>You can also browse the <a href="/">homepage</a> or <a href="/search">search the manual</a> for the information you need.</p>
  <p>If you think this link is broken, please get in touch with the <a href="/design-ops">Design Ops team</a>.</p>

{% endblock %}
