{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/standards">Standards</a>
      <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/standards/gov-service-standards">GOV Service Standards</a>
        </li>
        <li>
          <a href="/standards/dfe-standards">DfE Standards</a>
        </li>
        <li>
          <a href="/standards/branding">Branding your service</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/user-research/">User research</a>
    </li>
    <li>
      <a href="/content-design/">Content design</a>
    </li>
    <li>
      <a href="/service-design/">Service design</a>
    </li>
    <li>
      <a href="/interaction-design/">Interaction design</a>
      <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/interaction-design/being-an-interaction-designer-in-dfe">Being an interaction designer in DfE</a>
        </li>
        <li>
          <a href="/interaction-design/our-design-stages">Our design stages</a>
        </li>
        <li>
          <a href="/interaction-design/tools">Tools</a>
        </li>
        <li>
          <a href="/interaction-design/design-documentation">Design documentation</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/accessibility">Accessibility</a>
      <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/accessibility/draft-2-2">Draft WCAG 2.2 changes</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/community">Community</a>
    </li>
    <li>
      <a href="/accessibility-statement">Accessibility statement</a>
    </li>
    <li>
      <a href="/get-in-touch">Get in touch</a>
    </li>
    <li>
      <a href="/cookie-policy">Cookie policy</a>
    </li>
    <li>
      <a href="/service-manual-team">Service manual team</a>
    </li>
    <li>
      <a href="/terms-and-conditions">Terms and conditions</a>
    </li>
    <li>
      <a href="/your-privacy">Your privacy</a>
    </li>
  </ul>

{% endblock %}