{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/accessibility">Accessibility</a>
      <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/accessibility/standards">Accessibility standards</a>
        </li>
        <li>
          <a href="/accessibility/understanding-wcag">Understanding WCAG</a>
          <ul class="dfeuk-u-nested-list">
            <li>
              <a href="/accessibility/understanding-wcag/perceivable">Perceivable</a>
            </li>
            <li>
              <a href="/accessibility/understanding-wcag/operable">Operable</a>
            </li>
            <li>
              <a href="/accessibility/understanding-wcag/understandable">Understandable</a>
            </li>
            <li>
              <a href="/accessibility/understanding-wcag/robust">Robust</a>
            </li>
            <li>
              <a href="/accessibility/understanding-wcag/draft-2-2">Draft WCAG 2.2 changes</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/accessibility/roles-and-responsibilities">Roles and responsibilities</a>
        </li>
        <li>
          <a href="/accessibility/assurance">Testing and assurance</a>
        </li>
        <li>
          <a href="/accessibility/audits">Audits</a>
        </li>
        <li>
          <a href="/accessibility/accessibility-statements">Accessibility statements</a>
        </li>
        <li>
          <a href="/accessibility/training">Training</a>
        </li>
      </ul>
    </li>
  </ul>

{% endblock %}